<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<header class="header">
		<div class="wrapper">
			<div class="header__items">
				{{> header/header-left }}

				<div class="center">

					<section class="full">
						
						<div class="full__top">
							<div class="swiper-container full__top-container">
								<div class="swiper-wrapper full__top-wrapper">
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
									<div class="swiper-slide full__top-slide">
										<img src="%=static=%img/general/last/1.png" alt="slide">
									</div>
								</div>
								<div class="full__top-btn full__top-btn-next">
									{{Icon iconName="arr"}}
								</div>
								<div class="full__top-btn full__top-btn-prev">
									{{Icon iconName="arr"}}
								</div>
							</div>

							<div class="full__top-body">
								<div class="full__top-end">
									<div class="full__top-bread">
										<a href="#" class="bread-link">Недвижимость за рубежом</a>
										<a href="#" class="bread-link">>Лот № 1234</a>
									</div>
									<div class="full__top-pagination"></div>
								</div>


								<div class="full__top-start">
									<div class="full__top-title">
										<h3>Элитная вилла с видом на море для выгодных
											инвестиции в ВНЖ в Турции
										</h3>
									</div>
									<div class="full__top-favorites">
										<a href="#" class="favorites-link">
											в избранное
											{{Icon iconName="star"}}
										</a>
									</div>
								</div>

								<div class="full__top-center">
									<div class="price">
										<p class="price-total">17 800 000 <span class="currency">$</span></p> 
										{{Icon iconName="d-arr"}}

										<div class="price__info">
											<div class="price__info-row">
												<p class="price-attr">Цена за 1 м²</p>
												<div class="price-line"></div>
												<span class="price-value">17 000 $</span>
											</div>
											<div class="price__info-row">
												<p class="price-attr">Доходность</p>
												<div class="price-line"></div>
												<span class="price-value">8% годовых</span>
											</div>
											<div class="price__info-row">
												<p class="price-attr">Аренда в месяц</p>
												<div class="price-line"></div>
												<span class="price-value">12 500 $</span>
											</div>

											<form class="change-currency">
												<label class="currency-label">
													<input type="radio" name="currency" class="currency-radio" checked>
													<div class="currency-div">
														<span>$</span>
													</div>
												</label>
												<label class="currency-label">
													<input type="radio" name="currency" class="currency-radio">
													<div class="currency-div">
														<span>€</span>
													</div>
												</label>
												<label class="currency-label">
													<input type="radio" name="currency" class="currency-radio">
													<div class="currency-div">
														<span>₽</span>
													</div>
												</label>
												<label class="currency-label">
													<input type="radio" name="currency" class="currency-radio">
													<div class="currency-div">
														<span>£</span>
													</div>
												</label>
											</form>
										</div>
									</div>
									<div class="cashback">
										<p>ПОДАТЬ ЗАЯВКУ НА:</p>
										<span>CASHBACK 3%</span>
									</div>
								</div>
							</div>
						</div>

						<div class="full__info">
							<div class="full__info-header">
								<div class="full__info-item">
									<div class="full__info-item-row">
										<p>Общая площадь</p>
										<span>- 202 м²</span>
									</div>
									<div class="full__info-item-row">
										<p>Жилая площадь</p>
										<span>- 155 м²</span>
									</div>
									<div class="full__info-item-row">
										<p>Площадь территории</p>
										<span>- 370 м²</span>
									</div>
									<div class="full__info-item-row">
										<p>Высота полков</p>
										<span>- 3 м</span>
									</div>
									<div class="full__info-item-row">
										<p>Кладовая</p>
										<span>- 20 м²</span>
									</div>
									<div class="full__info-item-row">
										<p>Машиноместо</p>
										<span>- 7 м²</span>
									</div>
									<div class="full__info-item-row">
										<p>Бассейн</p>
										<span>- 35 м²</span>
									</div>
								</div>
								<div class="full__info-item">
									<div class="full__info-item-row">
										<p>Всего комнат</p>
										<span>- 5</span>
									</div>
									<div class="full__info-item-row">
										<p>Спален</p>
										<span>- 3</span>
									</div>
									<div class="full__info-item-row">
										<p>Ванных комнат</p>
										<span>- 3</span>
									</div>
									<div class="full__info-item-row">
										<p>Балконов</p>
										<span>- 2</span>
									</div>
									<div class="full__info-item-row">
										<p>Этаж</p>
										<span>- 6</span>
									</div>
									<div class="full__info-item-row">
										<p>Этажность</p>
										<span>- 35</span>
									</div>
								</div>
								<div class="full__info-item">
									<div class="full__info-item-row2">
										<p>Лот:</p>
										<span>№ 1277</span>
									</div>
									<div class="full__info-item-row2">
										<p>Адрес:</p>
										<span>Поселок
										Залиманский 187</span>
									</div>
									<div class="full__info-item-row2">
										<p>Тип объекта:</p>
										<span>Квартира</span>
									</div>
									<div class="full__info-item-row2">
										<p>Статус:</p>
										<span>Продажа</span>
									</div>
									<div class="full__info-item-row2">
										<p>Год постройки:</p>
										<span>2020 г.</span>
									</div>
									<div class="full__info-item-row2">
										<p>Дата обновления:</p>
										<span>05.10.19</span>
									</div>
								</div>
							</div>
							<div class="full__info-body">
								<ul class="full__info-lists tab-lists">
									<li class="full__info-list tab-list-item active">Преимущества</li>
									<li class="full__info-list tab-list-item">Расстояния</li>
									<li class="full__info-list tab-list-item">Ремонт и мебель</li>
								</ul>

								<div class="full__info-content active">
									<div class="full__info-column">
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Салон красоты
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Релакс зона
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Массажные комнаты
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Женский хамам
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Кабинет врача
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Детокс комнаты
										</div>
									</div>
									<div class="full__info-column">
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Вид на горы
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Вид на море
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Панорамные виды
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Вентиляции
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Охранная сигнализация
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Натуральный дуб
										</div>
									</div>
									<div class="full__info-column">
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Тонированные окна
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Бронированная дверь
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Плавательный бассейн
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Крытый бассейн
										</div>
										<div class="full__info-line">
											{{Icon iconName="checked"}}
											Хамам
										</div>
									</div>
								</div>
								<div class="full__info-content">
									123
								</div>
								<div class="full__info-content">
									321
								</div>
							</div>
						</div>

						<div class="full__description nav-section" id="description">
							<div class="vertical-line"></div>
							<div class="full__description-title">
								<h3>описание</h3>
							</div>
							<div class="full__description-text">
								<p class="card-item-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.</p>
								<p class="card-item-text">Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
								<p class="card-item-text">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на</p>
								<p class="card-item-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.</p>
								<p class="card-item-text">Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
								<p class="card-item-text">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на</p>
								<a href="#" class="more-link">подробнее ...</a>
							</div>
						</div>

						<div class="full__plan nav-section" id="plan">
							<div class="section-header section-click">
								<div class="vertical-line"></div>

								<div class="open-section">
									<div class="opened"></div>
									<div class="closed">
										<div class="closed-line"></div>
										<div class="closed-line"></div>
									</div>
								</div>

								<div class="full__plan-title">
									<h3>Планировки</h3>
								</div>
							</div>

							<div class="full__plan-content">
								<div class="full__plan-left">
									<div class="full__plan-item active">
										<div class="full__plan-head">
											<span class="line"></span>
											<span class="plus">
												<span class="plus-line"></span>
												<span class="plus-line"></span>
											</span>
											Первый этаж
										</div>
										<div class="full__plan-body">
											<div class="full__plan-row">
												<span>101 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>102 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>103 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>104 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>105 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>106 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>107 - 2bedrooms apartament</span>
											</div>
										</div>
									</div>
									<div class="full__plan-item">
										<div class="full__plan-head">
											<span class="line"></span>
											<span class="plus">
												<span class="plus-line"></span>
												<span class="plus-line"></span>
											</span>
											Второй этаж
										</div>
										<div class="full__plan-body">
											<div class="full__plan-row">
												<span>101 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>102 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>103 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>104 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>105 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>106 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>107 - 2bedrooms apartament</span>
											</div>
										</div>
									</div>
									<div class="full__plan-item">
										<div class="full__plan-head">
											<span class="line"></span>
											<span class="plus">
												<span class="plus-line"></span>
												<span class="plus-line"></span>
											</span>
											Третий этаж
										</div>
										<div class="full__plan-body">
											<div class="full__plan-row">
												<span>101 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>102 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>103 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>104 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>105 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>106 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>107 - 2bedrooms apartament</span>
											</div>
										</div>
									</div>
									<div class="full__plan-item">
										<div class="full__plan-head">
											<span class="line"></span>
											<span class="plus">
												<span class="plus-line"></span>
												<span class="plus-line"></span>
											</span>
											Все планировки
										</div>
										<div class="full__plan-body">
											<div class="full__plan-row">
												<span>101 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>102 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>103 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>104 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>105 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>106 - 2bedrooms apartament</span>
											</div>
											<div class="full__plan-row">
												<span>107 - 2bedrooms apartament</span>
											</div>
										</div>
									</div>
								</div>
								<div class="full__plan-right">
									<div class="swiper-container full__plan-container">
										<div class="swiper-wrapper full__plan-wrapper">
											<div class="swiper-slide full__plan-slide">
												<img src="%=static=%img/general/image.png" alt="image">
											</div>
											<div class="swiper-slide full__plan-slide">
												<img src="%=static=%img/general/image.png" alt="image">
											</div>
											<div class="swiper-slide full__plan-slide">
												<img src="%=static=%img/general/image.png" alt="image">
											</div>
										</div>
									</div>

									<div class="full-btn full-btn-next">
										{{Icon iconName="arr"}}
									</div>
									<div class="full-btn full-btn-prev">
										{{Icon iconName="arr"}}
									</div>

								</div>
							</div>
						</div>

						<div class="full__video nav-section" id="video">
							<div class="section-header section-click">
								<div class="vertical-line"></div>

								<div class="open-section">
									<div class="opened"></div>
									<div class="closed">
										<div class="closed-line"></div>
										<div class="closed-line"></div>
									</div>
								</div>

								<div class="full__video-title">
									<h3>Видео</h3>
								</div>
							</div>
							
							<div class="full__video--tabs">
								<div class="full__video-content active">
									<div class="right-play" data-src="https://www.youtube.com/embed/5lCRsLjMeso">
										{{Icon iconName="play"}}
									</div>
								</div>
								<div class="full__video-content">
									<div class="right-play" data-src="https://www.youtube.com/embed/SR0PGXgUqms">
										{{Icon iconName="play"}}
									</div>
								</div>
								<div class="full__video-content">
									<div class="right-play" data-src="https://www.youtube.com/embed/S7U8ExhCK50">
										{{Icon iconName="play"}}
									</div>
								</div>
							</div>

							<ul class="full__video-lists tab-lists">
								<li class="full__video-list tab-list-item active">Обзор недвижимости</li>
								<li class="full__video-list tab-list-item">Красота природы</li>
								<li class="full__video-list tab-list-item">Обзор города</li>
							</ul>
						</div>

						<div class="full__tour nav-section" id="tour">
							<div class="section-header section-click">
								<div class="vertical-line"></div>

								<div class="open-section">
									<div class="opened"></div>
									<div class="closed">
										<div class="closed-line"></div>
										<div class="closed-line"></div>
									</div>
								</div>

								<div class="full__tour-title">
									<h3>3d Тур</h3>
								</div>
							</div>

							<div class="full__tour--tabs">
								<div class="full__tour-content active"></div> <!-- Контент обзора комнат -->
								<div class="full__tour-content"></div> <!-- Контент обзора территории -->
							</div>

							<ul class="full__tour-lists tab-lists">
								<li class="full__tour-list tab-list-item active">Обзор комнат</li>
								<li class="full__tour-list tab-list-item">Обзор территории</li>
							</ul>
						</div>

					</section>

					<div class="place nav-section" id="position">
						<div class="section-header section-click">
							<div class="vertical-line"></div>

							<div class="open-section">
								<div class="opened"></div>
								<div class="closed">
									<div class="closed-line"></div>
									<div class="closed-line"></div>
								</div>
							</div>

							<div class="place-title">
								<h3>Расположение</h3>
							</div>
						</div>
						
						<div class="map" data-lat="36.508767" data-lng="-4.993866" data-zoom="15" data-title="Название объекта" data-icon="static/img/general/marker.svg" data-address="Адрес" data-city="Греция, Сокольники" data-phone="+77755421169" >
							<div id="map"></div>
						</div>

						<div class="map-buttons">
							<div class="tab-lists">
								<div class="map-btn tab-list-item active" data-service="object">Объект</div>
								<div class="map-btn tab-list-item" data-service="school">Школа</div>
								<div class="map-btn tab-list-item" data-service="kindergarten">Детский сад</div>
								<div class="map-btn tab-list-item" data-service="restaurant">Ресторан</div>
								<div class="map-btn tab-list-item" data-service="bank">Банк</div>
								<div class="map-btn tab-list-item" data-service="hospital">Больница</div>
							</div>
						</div>

					</div>

					<div class="opportunities details nav-section" id="details">
						<div class="opportunities__content">

							<div class="section-header section-click">
								<div class="vertical-line"></div>

								<div class="open-section">
									<div class="opened"></div>
									<div class="closed">
										<div class="closed-line"></div>
										<div class="closed-line"></div>
									</div>
								</div>

								<div class="opportunities__title">
									<h3>Детали покупки</h3>
								</div>
							</div>

							<div class="opportunities__items">

								<div class="opportunities__item">
									<div class="opportunities__item-info">
										<h4 class="opportunities__item-title">Условия кредитованиЯ</h4>
										<div class="line"></div>
										<p class="opportunities__item-desc">При покупке этих апартаментов - оформление вида на жительство, банковского счета, водительского удостоверения и </p>
										<p class="opportunities__item-desc">медицинскойстраховки на Северном Кипре для всей семьи в подарок от компании! При покупке этих апартаментов - оформление вида на жительство, банковского счета</p>
									</div>
									<div class="opportunities__item-image">
										<img src="%=static=%img/general/image.png" alt="image">
									</div>
								</div>

								<div class="opportunities__item">
									<div class="opportunities__item-image">
										<img src="%=static=%img/general/image.png" alt="image">
									</div>
									<div class="opportunities__item-info">
										<h4 class="opportunities__item-title">ГАРАНТИЯ УСПЕШНОЙ СДЕЛКИ</h4>
										<div class="line"></div>
										<p class="opportunities__item-desc">В закрытом каталоге собрана эксклюзивная недвижимость из разных стран Мира.</p>
										<p class="opportunities__item-desc">Наши объекы не найим в интернете или у других агенств. Исключением являются только жилые комплексы.</p>
										<p class="opportunities__item-desc">В закрытом каталоге собрана эксклюзивная недвижимость из разных стран Мира.</p>
									</div>
								</div>

								<div class="opportunities__item">
									<div class="opportunities__item-info">
										<h4 class="opportunities__item-title">АКЦИЯ ОТ ПРОДАВЦА</h4>
										<div class="line"></div>
										<p class="opportunities__item-desc">При покупке этих апартаментов - оформление вида на жительство, банковского счета, водительского удостоверения и медицинской</p>
										<p class="opportunities__item-desc">страховки на Северном Кипре для всей семьи в подарок от компании!</p>
										<p class="opportunities__item-desc">страховки на Северном Кипре для всей семьи в подарок от компании!</p>
									</div>
									<div class="opportunities__item-image">
										<img src="%=static=%img/general/image.png" alt="image">
									</div>
								</div>

							</div>

						</div>
					</div>

					<div class="documentation nav-section" id="documentation">
						<div class="section-header section-click">
							<div class="vertical-line"></div>

							<div class="open-section">
								<div class="opened"></div>
								<div class="closed">
									<div class="closed-line"></div>
									<div class="closed-line"></div>
								</div>
							</div>

							<div class="documentation-title">
								<h3>Документация</h3>
							</div>
						</div>

						<div class="documentation-body">
							<div class="documentation-text">
								<h3>лицензия на продажу недвижимости</h3>
								<div class="line"></div>
								<p>Вы гарантированно получите возврат в 3% от суммы покупки. Не зависимо от скидки самого застройщика.</p>
								<p>Достаточно оформить заявку через каталог MIRADEN до совершения сделки.
								</p>
							</div>
							<div class="documentation-image">
								<div class="swiper-container documentation-image-container">
									<div class="swiper-wrapper documentation-image-wrapper">
										<div class="swiper-slide documentation-image-slide">
											<img src="%=static=%img/general/last/1.png" alt="image">
										</div>
										<div class="swiper-slide documentation-image-slide">
											<img src="%=static=%img/general/last/1.png" alt="image">
										</div>
										<div class="swiper-slide documentation-image-slide">
											<img src="%=static=%img/general/last/1.png" alt="image">
										</div>
									</div>

									<div class="documentation-btn documentation-btn-next">
										{{Icon iconName="arr"}}
									</div>
									<div class="documentation-btn documentation-btn-prev">
										{{Icon iconName="arr"}}
									</div>
								</div>
							</div>
						</div>

						<div class="documentation-form">
							<div class="documentation-form-header">
								<h3>форма заявки</h3>
								<div class="show-block">
									<div class="show-minus"></div>
									<div class="show-plus">
										<div class="show-plus-item"></div>
										<div class="show-plus-item"></div>
									</div>
								</div>
							</div>
							<div class="documentation-form-content">
								123
							</div>
							<div class="documentation-form-header">
								<h3>о стране / о городе</h3>
								<div class="show-block">
									<div class="show-minus"></div>
									<div class="show-plus">
										<div class="show-plus-item"></div>
										<div class="show-plus-item"></div>
									</div>
								</div>
							</div>
							<div class="documentation-form-content">
								322
							</div>
						</div>

					</div>

					<div class="hot card-hot nav-section" id="hot">
						<div class="hot__content">

							<div class="vertical-line"></div>

							<div class="hot__select">
								<form action="">
									<div class="sort">
										<a href="#" class="sorted-link">по цене {{Icon iconName="d-arr"}}</a>
									</div>
								</form>
								<form action="">
									<div class="sort">
										<a href="#" class="sorted-link">по дате {{Icon iconName="d-arr"}}</a>
									</div>
								</form>
							</div>

							<div class="hot__title">
								<h3>Похожие предложения</h3>
							</div>

							<div class="hot__items">

								{{> card/card }}
								{{> card/special-card }}
								{{> card/card }}
								{{> card/card }}
								{{> card/card }}

							</div>

							<div class="hot__more">
								<p>Открыть ещё <span>118 объектов</span></p>
							</div>

							<div class="hot__open">
								<div class="circle">
									{{Icon iconName="n-arr"}}
								</div>
							</div>

						</div>
					</div>

					<footer class="footer">
						<div class="wrapper">
							<div class="footer__items">
								{{> footer/footer-center}}
							</div>
						</div>
					</footer>

				</div>

				{{> header/header-right }}
			</div>
		</div>
	</header>

	<!-- <div class="only-logo">
		<div class="wrapper">
			<div class="only-logo-wrap">
				<img src="%=static=%img/general/logo.png" alt="Логотип">
			</div>
		</div>
	</div>
-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0ad67Gl_FykDiUfEpNtu6debwfmFsfs&libraries=places&callback=initMap"
async defer>
</script>

{{> bottom/bottom }}


</body>

</html>