<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<header class="header">
		<div class="wrapper">
			<div class="header__items">
				{{> header/header-left }}

				<div class="center">

					{{> header/header-center-advert }}

					<div class="step__add-header">
						<ul class="tab-lists">
							<li class="tab-list-item">Основные данные</li>
							<li class="tab-list-item">Параметры</li>
							<li class="tab-list-item">Преимущества</li>
							<li class="tab-list-item">Планировки</li>
							<li class="tab-list-item">Видео</li>
							<li class="tab-list-item active">Детали покупки</li>
						</ul>
					</div>

					<form action="" class="step__add-form">

						<div class="step__add-item">
							<div class="step__body-title">детали покупки:</div>
							
							<div class="step__add-row mt-2">
								<label class="big-label">
									<input type="radio" name="big" class="big-radio">
									<div class="big-label-head">
										<div class="custom">
											{{Icon iconName="true"}}
										</div>
										<div class="big-label-text">
											вы гарантированно получите cashback 3%
										</div>
									</div>
									<p class="big-label-desc">Вы гарантированно получите возврат в 3% от суммы покупки. Не зависимо от скидки самого застройщика.</p>
									<p class="big-label-desc">Достаточно оформить заявку через каталог MIRADEN до совершения сделки.</p>
								</label>
								<label class="big-label">
									<input type="radio" name="big" class="big-radio">
									<div class="big-label-head">
										<div class="custom">
											{{Icon iconName="true"}}
										</div>
										<div class="big-label-text">
											вы гарантированно получите cashback 3%
										</div>
									</div>
									<p class="big-label-desc">Вы гарантированно получите возврат в 3% от суммы покупки. Не зависимо от скидки самого застройщика.</p>
									<p class="big-label-desc">Достаточно оформить заявку через каталог MIRADEN до совершения сделки.</p>
								</label>
								<label class="big-label">
									<input type="radio" name="big" class="big-radio">
									<div class="big-label-head">
										<div class="custom">
											{{Icon iconName="true"}}
										</div>
										<div class="big-label-text">
											вы гарантированно получите cashback 3%
										</div>
									</div>
									<p class="big-label-desc">Вы гарантированно получите возврат в 3% от суммы покупки. Не зависимо от скидки самого застройщика.</p>
									<p class="big-label-desc">Достаточно оформить заявку через каталог MIRADEN до совершения сделки.</p>
								</label>
							</div>
						</div>

						<div class="step__add-item mt-2">
							<div class="step__body-title">график роста цен:</div>

							<div class="step__add-wrap mt-2">
								<div class="step__add-field step__add-flex">
									<div class="step__add-select-145">
										<select class="select new-select">
											<option value="1">Год</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>

								<div class="step__add-field step__add-flex">
									<div class="step__add-select-145">
										<select class="select new-select">
											<option value="1">месяц</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>

								<div class="step__add-field step__add-flex">
									<div class="step__add-select-145">
										<select class="select new-select">
											<option value="1">день</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>

								<div class="step__add-field step__add-flex">
									<div class="step__add-select-145">
										<select class="select new-select">
											<option value="1">рост</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>

								<div class="step__add-field step__add-flex">
									<div class="step__add-select-100">
										<select class="select new-select">
											<option value="1">%</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						
						<div class="step__add-item mt-2">
							<div class="step__body-title">аренда с правом выкупа:</div>

							<div class="step__add-block">

								<div class="step__add-row">
									<div class="step__add-field step__add-flex mr-11">
										<input type="text" class="input-field" maxlength="80" required>
										<span class="input-title">первый взнос
										</span>
										
										<div class="step__add-select step__add-mini">
											<select class="select new-select">
												<option value="1">%</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
										</div>
									</div>
									<div class="step__add-field step__add-flex mr-11">
										<input type="text" class="input-field" maxlength="80" required>
										<span class="input-title">период аренды
										</span>

										<div class="step__add-select step__add-mini">
											<select class="select new-select">
												<option value="1">год</option>
												<option value="2">$</option>
												<option value="3">P</option>
											</select>
										</div>
									</div>
									<div class="step__add-field step__add-flex mr-11">
										<input type="text" class="input-field" maxlength="80" required>
										<span class="input-title">аренда в месяц
										</span>

										<div class="step__add-select">
											<select class="select new-select">
												<option value="1">€</option>
												<option value="2">$</option>
												<option value="3">P</option>
											</select>
										</div>
									</div>

								</div>

							</div>
						</div>

						<div class="step__add-item mt-2">
							<div class="step__body-title">документы:</div>

							<div class="step__add-row mt-2">
								<div class="step-select mb-10 mr-3n">
									<span class="tr-span">название документа 
									</span>
									<select class="select-step new-select">
										<option value="1" disabled="true">111</option>
										<option value="2" disabled="true">222</option>
										<option value="3" disabled="true">333</option>
									</select>
								</div>

								<div class="step__add-field">
									<label class="step-file-label">
										<input type="file" name="file" class="step-file-input" id="step-file">
										{{Icon iconName="upload"}}
										загрузить файлы
									</label>
								</div>

								<div class="step-uploaded-img"></div>
							</div>

						</div>

						<div class="step__add-item mt-2">
							<div class="step__body-title">контакты продавца:</div>

							<div class="step__add-row mt-2">
								<div class="step__add-field step__add-flex  mr-11">
									<input type="text" class="input-field" maxlength="80" required>
									<span class="input-title">Город
									</span>
								</div>
								<div class="step-select mr-11">
									<span class="tr-span">статус 
									</span>
									<select class="select-step new-select">
										<option value="1" disabled="true">111</option>
										<option value="2" disabled="true">222</option>
										<option value="3" disabled="true">333</option>
									</select>
								</div>
								<div class="step__add-field step__add-flex">
									<input type="text" class="input-field" maxlength="80" required>
									<span class="input-title">название компании
									</span>
								</div>
							</div>
							<div class="step__add-row">
								<div class="step__add-field step__add-flex  mr-11">
									<input type="text" class="input-field" maxlength="80" required>
									<span class="input-title">телефон
									</span>
								</div>
								<div class="step__add-field step__add-flex  mr-11">
									<input type="text" class="input-field" maxlength="80" required>
									<span class="input-title">мессенджер
									</span>
								</div>

								<div class="step__add-field">
									<div class="social-radios">
										<label class="social-label">
											<input type="radio" name="social" class="social-radio" checked>
											<span class="circle">
												<span class="circle-inner">
												</span>
											</span>
											<span class="social-text">whatsapp</span>
										</label>
										<label class="social-label">
											<input type="radio" name="social" class="social-radio">
											<span class="circle">
												<span class="circle-inner">
												</span>
											</span>
											<span class="social-text">viber</span>
										</label>
										<label class="social-label">
											<input type="radio" name="social" class="social-radio">
											<span class="circle">
												<span class="circle-inner">
												</span>
											</span>
											<span class="social-text">telegram</span>
										</label>
									</div>
								</div>
							</div>
							<div class="step__add-row">
								<div class="step__add-field step__add-flex  mr-11">
									<input type="text" class="input-field" maxlength="80" id="getSymbol" required>
									<span class="input-title">e-mail
									</span>
								</div>

								<div class="step__add-field">
									<label class="step-file-label">
										<input type="file" name="photo" class="step-file-input" id="photo-file">
										{{Icon iconName="upload"}}
										загрузить фото
									</label>
								</div>

								<div class="step-uploaded-photo">
									<span class="first-symbol" id="first-symbol">?</span>
								</div>
							</div>
						</div>


						<div class="terms-submit">
							<div class="terms-submit-check">
								<div class="last-step">
									Модерация проходит в ручном режиме
									и может занять несколько дней
								</div>
							</div>
							<div class="terms-submit-row">
								<div class="step-pag">
									<span class="step-page">6</span>
									/
									<span class="step-value">6 шагов</span>
								</div>
								<button data-src="/step3.html" class="step-btn">
									На модерацию
									{{Icon iconName="n-arr"}}
								</button>
							</div>
						</div>


					</form>

					<footer class="footer">
						<div class="wrapper">
							<div class="footer__items">
								{{> footer/footer-center}}
							</div>
						</div>
					</footer>
					
				</div>

				{{> header/header-right-auth }}
			</div>
		</div>
	</header>

	{{> bottom/bottom }}
</body>

</html>