<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<header class="header">
		<div class="wrapper">
			<div class="header__items">
				{{> header/header-left }}

				<div class="center">

					{{> header/header-center-advert }}

					<div class="step__add-header">
						<ul class="tab-lists">
							<li class="tab-list-item">Основные данные</li>
							<li class="tab-list-item">Параметры</li>
							<li class="tab-list-item">Преимущества</li>
							<li class="tab-list-item active">Планировки</li>
							<li class="tab-list-item">Видео</li>
							<li class="tab-list-item">Детали покупки</li>
						</ul>
					</div>

					<form action="" class="step__add-form">
						
						<div class="step__add-item">
							<div class="step__body-title">Планировки:</div>

							<div class="step__add-row mt-2">
								<div class="step-select mb-10 mr-3n">
									<span class="tr-span">Всего комнат 
									</span>
									<select class="select-step new-select">
										<option value="1" disabled="true">111</option>
										<option value="2" disabled="true">222</option>
										<option value="3" disabled="true">333</option>
									</select>
								</div>

								<div class="step__add-field">
									<label class="step-file-label">
										<input type="file" name="file" class="step-file-input" id="step-file">
										{{Icon iconName="upload"}}
										загрузить файлы
									</label>
								</div>

								<div class="step-uploaded-img"></div>
							</div>

						</div>

						<div class="terms-submit">
							<div class="terms-submit-check">

							</div>
							<div class="terms-submit-row">
								<div class="step-pag">
									<span class="step-page">4</span>
									/
									<span class="step-value">6 шагов</span>
								</div>
								<button data-src="/step3.html" class="step-btn">
									Далее
									{{Icon iconName="n-arr"}}
								</button>
							</div>
						</div>


					</form>


					<footer class="footer">
						<div class="wrapper">
							<div class="footer__items">
								{{> footer/footer-center}}
							</div>
						</div>
					</footer>
					
				</div>

				{{> header/header-right-auth }}
			</div>
		</div>
	</header>

	{{> bottom/bottom }}
</body>

</html>