<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<header class="header">
		<div class="wrapper">
			<div class="header__items">
				{{> header/header-left }}

				<div class="center">

					<div class="step">
						<div class="step__header">
							<div class="vertical-line"></div>
							<div class="step__title">
								<h3>добавить объявление</h3>
							</div>
						</div>

						<div class="step__add-header">
							<ul class="tab-lists">
								<li class="tab-list-item active">Основные данные</li>
								<li class="tab-list-item">Параметры</li>
								<li class="tab-list-item">Преимущества</li>
								<li class="tab-list-item">Планировки</li>
								<li class="tab-list-item">Видео</li>
								<li class="tab-list-item">Детали покупки</li>
							</ul>
						</div>


						<form action="" class="step__form">
							<div class="step__body">
								<div class="step__body-title">Основные данные:</div>
								<div class="step__body-row">
									<label class="step-label">
										<input type="radio" name="var" class="step-input" checked>
										<span class="step-circle">
											<span class="step-inner"></span>
										</span>
										продажа
									</label>
									<label class="step-label">
										<input type="radio" name="var" class="step-input">
										<span class="step-circle">
											<span class="step-inner"></span>
										</span>
										аренда
									</label>
									<div class="step-select">
										<span class="tr-span">Тип недвижимости 
											<span class="state-star">*</span>
										</span>
										<select class="select-step new-select">
											<option value="1" disabled="true">111</option>
											<option value="2" disabled="true">222</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
											<option value="3" disabled="true">333</option>
										</select>
									</div>
									<label class="step-label">
										<input type="radio" name="type" class="step-input" checked>
										<span class="step-circle">
											<span class="step-inner"></span>
										</span>
										новая
									</label>
									<label class="step-label">
										<input type="radio" name="type" class="step-input">
										<span class="step-circle">
											<span class="step-inner"></span>
										</span>
										вторичная
									</label>
								</div>
							</div>

							<div class="alert">
								<div class="alert__title">
									примечание:
								</div>
								<ol class="alert__list">
									<li class="alert__list-item">Остальные блоки из списка ниже заполняет администратор сайта, такие как:
										О стране / городе, Похожие предложения, Галерея фильмов, Контакты продавца.
										<a href="#">Подробнее</a>
									</li>
									<li class="alert__list-item">Остальные блоки из списка ниже заполняет администратор сайта, такие как:
										О стране / городе, Похожие предложения, Галерея фильмов, Контакты продавца.
										<a href="#">Подробнее</a>
									</li>
									<li class="alert__list-item">Остальные блоки из списка ниже заполняет администратор сайта, такие как:
										О стране / городе, Похожие предложения, Галерея фильмов, Контакты продавца.
										<a href="#">Подробнее</a>
									</li>
									<li class="alert__list-item">Остальные блоки из списка ниже заполняет администратор сайта, такие как:
										О стране / городе, Похожие предложения, Галерея фильмов, Контакты продавца.
										<a href="#">Подробнее</a>
									</li>
								</ol>
							</div>

							<div class="terms-submit">
								<div class="terms-submit-check">
									<label class="terms-submit-label">
										<input type="checkbox" name="check" class="terms-submit-input">
										<div class="custom"></div>
										<span class="terms-submit-text">
											Я принимаю <br>
											<a href="/" target="_blank">условия публикации объявления</a> <br> в каталоге MIRADEN 
										</span>
									</label>
								</div>
								<div class="terms-submit-row">
									<div class="step-pag">
										<span class="step-page">1</span>
										/
										<span class="step-value">6 шагов</span>
									</div>
									<button class="step-btn" id="step-two">
										Далее
										{{Icon iconName="n-arr"}}
									</button>
								</div>
							</div>
						</form>
					</div>

					

					<footer class="footer">
						<div class="wrapper">
							<div class="footer__items">
								{{> footer/footer-center}}
							</div>
						</div>
					</footer>
					
				</div>

				{{> header/header-right-auth }}
			</div>
		</div>
	</header>

	{{> bottom/bottom }}
</body>

</html>