<div class="card">
	<div class="swiper-container card-container">
		<div class="swiper-wrapper card-wrapper">
			<div class="swiper-slide card-image">
				<img src="%=static=%img/general/last/1.png" alt="Последние предложения">
			</div>
			<div class="swiper-slide card-image">
				<img src="%=static=%img/general/last/1.png" alt="Последние предложения">
			</div>
			<div class="swiper-slide card-image">
				<img src="%=static=%img/general/last/1.png" alt="Последние предложения">
			</div>
		</div>
		<div class="card-btn card-btn-next">
			{{Icon iconName="arr"}}
		</div>
		<div class="card-btn card-btn-prev">
			{{Icon iconName="arr"}}
		</div>
	</div>
	<div class="card-info">
		<div class="card-name">
			<a href="#" class="card-title">Элитная вилла с видом на море для инвестиций и ВНЖ</a>
			{{Icon iconName="star"}}
		</div>
		<div class="card-place">
			{{Icon iconName="place"}}
			<p>Греция, Халкидики, Мариановый район район</p>
		</div>
		<div class="card-tags">
			<span class="card-tag">продажа</span>
			<span class="card-tag">аренда</span>
			<span class="card-tag">обмен</span>
			<span class="card-tag">инвестиции</span>
			<span class="card-tag">продажа</span>
			<span class="card-tag">аренда</span>
			<span class="card-tag">обмен</span>
			<span class="card-tag">инвестиции</span>
			<span class="more-tag">...</span>
		</div>
		<div class="card-desc">
			<span class="lot">
				LOT: №1225 :
			</span>
			<p class="desc">общая площадь: <b>94 м²</b></p>
			<div class="line"></div>
			<p class="desc">жилая площадь: <b>88 м²</b></p>
			<div class="line"></div>
			<p class="desc">спален: <b>1</b></p>
			<div class="line"></div>
			<p class="desc">ванных комнат: <b>3</b></p>
		</div>
		<div class="card-price special-card-price">
			<div class="price">
				<p class="price-total">17 800 000 <span class="currency">$</span></p> 
				{{Icon iconName="d-arr"}}

				<div class="price__info">
					<div class="price__info-row">
						<p class="price-attr">Цена за 1 м²</p>
						<div class="price-line"></div>
						<span class="price-value">17 000 $</span>
					</div>
					<div class="price__info-row">
						<p class="price-attr">Доходность</p>
						<div class="price-line"></div>
						<span class="price-value">8% годовых</span>
					</div>
					<div class="price__info-row">
						<p class="price-attr">Аренда в месяц</p>
						<div class="price-line"></div>
						<span class="price-value">12 500 $</span>
					</div>

					<form class="change-currency">
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio" checked>
							<div class="currency-div">
								<span>$</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>€</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>₽</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>£</span>
							</div>
						</label>
					</form>
				</div>
			</div>
			<div class="action" id="countdown" data-deadline="2020-04-21">
				<p>ДО КОНЦА АУКЦИОНА:</p>
				<div class="card__time">
					<div class="card__time-name">дней</div>
					<span class="card__time-day">18</span>
				</div>
				<div class="card__time">
					<div class="card__time-name">часов</div>
					<span class="card__time-hours">5</span>
				</div>
				<div class="card__time">
					<div class="card__time-name">минут</div>
					<span class="card__time-min">45</span>
				</div>
			</div>
		</div>
	</div>
</div>