<div class="footer__left">
	<div class="up" id="up">
		<span class="arr"></span>
		<span class="arr"></span>
		<span class="arr"></span>
		<!-- {{Icon iconName="up-arr"}} -->
	</div>
	<div class="lang">
		<div class="lang-value">RU</div>
		{{Icon iconName="d-arr"}}

		<div class="lang-variants"> <!-- .active для показа -->
			<a href="#" class="lang-variant">EN</a>
			<a href="#" class="lang-variant">KZ</a>
		</div>
	</div>
</div>