<div class="footer__center">
	<div class="footer__nav">

		<div class="footer__nav-row">
			
			<div class="footer__column">
				<h4>Меню</h4>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					О компании
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Команда
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Философия
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					СМИ о нас
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					FAQ
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Блог
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Контакты
				</a>
			</div>

			<div class="footer__column">
				<h4>Покупателям</h4>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Каталог
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Инвестиции
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Аукцион
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Отзывы
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Обзоры стран
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Ипотека
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					ВНЖ / Паспорт
				</a>
			</div>

			<div class="footer__column">
				<h4>Продавцам</h4>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Риелторам
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Застройщикам
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Партнеры
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Кейсы
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Регистрация
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Услуги
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Цены
				</a>
				<a href="#" class="footer-link">
					{{Icon iconName="d-arr"}}
					Разместить недвижемость
				</a>
			</div>

		</div>

		<div class="footer__contacts">
			<div class="phone">
				<a href="#" class="phone-link">+7 <span>(916)</span> 073-27-04</a>
				<span class="on">
					on
				</span>
			</div>
			<div class="footer__contacts-desc">
				<p>Получите бесплатную консультацию по телефону или напишите вопрос в чат:</p>
			</div>
			<div class="footer__contacts-chats">
				<a href="#" class="chat ws">
					{{Icon iconName="ws"}}
					whatsapp
				</a>
				<a href="#" class="chat viber">
					{{Icon iconName="viber"}}
					viber
				</a>
				<a href="#" class="chat tg">
					{{Icon iconName="tg"}}
					telegram
				</a>
				<a href="#" class="chat ms">
					{{Icon iconName="msg"}}
					messenger
				</a>
			</div>
			<div class="footer__contacts-mail">
				<a href="mailto:info@miraden.com">info@miraden.com</a>
			</div>
			<div class="footer__contacts-place">
				<span>Юридический адрес:</span>
				<p>Москва. Строительный переулок 18. Офис 955V</p>
			</div>
			<div class="footer__contacts-social">
				<a href="#">
					{{Icon iconName="facebook"}}
				</a>
				<a href="#">
					{{Icon iconName="instagram"}}
				</a>
				<a href="#">
					{{Icon iconName="youtube"}}
				</a>
			</div>
		</div>

	</div>

	<div class="footer__copyright">
		<div class="footer__conf">
			<a href="/">
				<img src="%=static=%img/general/footer-logo.png" alt="Лого">
			</a>
			<div class="footer__conf-links">
				<a href="#">Политика компании по обработке <br> персональных данных </a>
				<a href="#">Конфиденциальность</a>
			</div>
		</div>
		
		<div class="footer__contacts-copy">
			© 2009-2019 Все права защищены
		</div>
	</div>

</div>