<div class="right">
	<ul class="header__right">
		<li class="header__right-item link">
			{{Icon iconName="search"}}
			<p>Поиск</p>
		</li>
		<li class="header__right-item ">
			{{Icon iconName="media"}}
			<p>фильм {{Icon iconName="d-arr"}}</p>
		</li>
		<li class="header__right-item">
			{{Icon iconName="link"}}
			<p>Заявка</p>
		</li>
		<li class="header__right-item active">
			{{Icon iconName="user"}}
			<p>Аккаунт</p>
		</li>
	</ul>  

	<div class="main__content"> <!-- Контент для таба Поиск -->
		<form class="search" autocomplete="off">
			<div class="search-country">
				<div class="search-item">
					<span class="search-item-span">страна / город</span>
					<input type="text" name="country" value="" class="search-item-input">
				</div>
				<div class="search-variants active">
					<div class="search-variants--wrap">
						<div class="search-variants-items">
							<label>
								<input type="radio" value="Австрия">
								<span>Австрия</span>
							</label>
							<label>
								<input type="radio" value="Австралия">
								<span>Австралия</span>
							</label>
							<label>
								<input type="radio" value="Германия">
								<span>Германия</span>
							</label>
							<label>
								<input type="radio" value="Греция">
								<span>Греция</span>
							</label>
							<label>
								<input type="radio" value="Испания">
								<span>Испания</span>
							</label>
							<label>
								<input type="radio" value="Италия">
								<span>Италия</span>
							</label>
							<label>
								<input type="radio" value="Кипр">
								<span>Кипр</span>
							</label>
							<label>
								<input type="radio" value="Франция">
								<span>Франция</span>
							</label>
						</div>

						<div class="search-variants-items secondary-items">
							<label>
								<input type="radio" value="Пафос">
								<span>Пафос</span>
							</label>
							<label>
								<input type="radio" value="Лимассол">
								<span>Лимассол</span>
							</label>
							<label>
								<input type="radio" value="Паралимни">
								<span>Паралимни</span>
							</label>
							<label>
								<input type="radio" value="Айя-Напа">
								<span>Айя-Напа</span>
							</label>
							<label>
								<input type="radio" value="Никосия">
								<span>Никосия</span>
							</label>
							<label>
								<input type="radio" value="Ларнака">
								<span>Ларнака</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="search-ned">
				<div class="search-item">
					<span class="search-item-span">тип недвижимости</span>
					<input type="text" name="ned" class="search-item-input">
				</div>
				<div class="search-variants">
					<div class="search-variants--wrap">
						<div class="search-variants-items">
							<label>
								<input type="radio" value="Квартиры" class="ned-input">
								<span>Квартиры</span>
							</label>
							<label>
								<input type="radio" value="Дома, виллы" class="ned-input">
								<span>Дома, виллы</span>
							</label>
							<label>
								<input type="radio" value="Пентхаусы" class="ned-input">
								<span>Пентхаусы</span>
							</label>
							<label>
								<input type="radio" value="Замки" class="ned-input">
								<span>Замки</span>
							</label>
							<label>
								<input type="radio" value="Шале" class="ned-input">
								<span>Шале</span>
							</label>
							<label>
								<input type="radio" value="Таунхаусы" class="ned-input">
								<span>Таунхаусы</span>
							</label>
							<label>
								<input type="radio" value="Острова" class="ned-input">
								<span>Острова</span>
							</label>
							<label>
								<input type="radio" value="Земельные участки" class="ned-input">
								<span>Земельные участки</span>
							</label>
							<label>
								<input type="radio" value="Коммерческая" class="ned-input">
								<span>Коммерческая</span>
							</label>
						</div>
						<div class="search-variants-items">
							<label class="ned-label">
								<input type="radio" name="check" value="Покупка" class="ned-check" checked>
								<div class="custom"></div>
								Покупка
							</label>
							<label class="ned-label">
								<input type="radio" name="check" value="Аренда" class="ned-check">
								<div class="custom"></div>
								Аренда
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="search-price">
				<div class="search-item">
					<span class="search-item-span">Стоимость</span>
					<input type="text" name="price" class="search-item-input">
				</div>
				<div class="search-variants">
					<div class="search-variants-items">
						<label>
							<input type="radio" value="от 100. 000">
							<span>от 100. 000</span>
						</label>
						<label>
							<input type="radio" value="от 200. 000">
							<span>от 200. 000</span>
						</label>
					</div>
				</div>
			</div>

			<div class="search-category">
				<div class="search-item">
					<span class="search-item-span">Категория</span>
					<input type="text" name="category" class="search-item-input">
				</div>
				<div class="search-variants">
					<div class="search-variants-items">
						<label>
							<input type="radio" value="qwe">
							<span>qwe</span>
						</label>
						<label>
							<input type="radio" value="asd">
							<span>asd</span>
						</label>
					</div>
				</div>
			</div>

			<div class="search-more">
				<div class="search-item">
					<span class="search-item-span">Еще</span>
					<input type="text" name="more" class="search-item-input">
				</div>
				<div class="search-variants">
					<div class="search-variants-items">
						<label>
							<input type="radio" value="qwe">
							<span>qwe</span>
						</label>
						<label>
							<input type="radio" value="asd">
							<span>asd</span>
						</label>
					</div>
				</div>
			</div>

			<div class="form-bottom">
				<button class="form-button">
					{{Icon iconName="search"}}
					поиск
				</button>
			</div>
		</form>
	</div>

	<div class="main__content"> <!-- Контент для таба Фильм -->
		
		{{> main/main-right }}

		<div class="films">
			<div class="film" data-src="https://www.youtube.com/embed/5lCRsLjMeso">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film" data-src="https://www.youtube.com/embed/SR0PGXgUqms">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film" data-src="https://www.youtube.com/embed/S7U8ExhCK50">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<div class="film">
				<div class="film-play">
					{{Icon iconName="movie"}}
				</div>
				<div class="film-title">
					<h4>О плюсах жизни в Аланьи</h4>
				</div>
			</div>
			<!-- <div class="film-more">
				<div class="film-title">
					<h4>Открыть еще 7 фильмов</h4>
				</div>
				<div class="film-play">
					{{Icon iconName="plus"}}
				</div>
			</div> -->
		</div>
	</div>

	<div class="main__content"> <!-- Контент для таба Пригласить -->
		<div class="main__content-top">
			<h4>ОТПРАВЬТЕ ПРИГЛАШЕНИЕ ВАШЕМУ КЛИЕНТУ</h4>
			<p>Укажите данные вашего клиента и он получит приглашение в закрытый каталог</p>
		</div>
		<div class="main__content-form">
			<form action="">
				<div class="form-block">
					<input type="text" class="form-input" required>
					<div class="linear"></div>
					<span class="form-label">имя вашего клиента</span>
				</div>
				<div class="form-block">
					<input type="text" class="form-input" required>
					<div class="linear"></div>
					<span class="form-label">e-mail вашего клиента</span>
				</div>
				<div class="form-block">
					<input type="text" class="form-input" required>
					<div class="linear"></div>
					<span class="form-label">телефон вашего клиента</span>
				</div>
				<div class="form-bottom">
					<button class="form-button">
						{{Icon iconName="link"}}
						Пригласить
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="main__content active"> <!-- Контент для таба Аккаунт -->
		<div class="acc__content-header">
			<div class="acc__content-photo">
				
			</div>
			<div class="acc__content-name">
				<span>аккаунт продавца</span>
				<a href="#">andrew lavtov</a>
			</div>
			<div class="acc__content-id">
				id- 566774
			</div>
		</div>
		<div class="acc__content-body">
			<div class="acc__content-link">
				<a href="#" class="acc-link active">
					{{Icon iconName="acc-add"}}
					Добавить объявление
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-my"}}
					Мои объявления
					<span class="acc-link-value">6</span>
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-fav"}}
					Избранное
					<span class="acc-link-value">5</span>
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-cli"}}
					Мои клиенты
					<span class="acc-link-value">8</span>
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-auc"}}
					Аукцион
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-balance"}}
					Баланс
					<span class="acc-link-value">$ 0.00</span>
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-settings"}}
					Настройки аккаунта
				</a>
			</div>
			<div class="acc__content-link">
				<a href="#" class="acc-link">
					{{Icon iconName="acc-heart"}}
					Поддержка
				</a>
			</div>

		</div>
	</div>

</div>

<div class="video-overlay"></div>
<div class="video-popup">
	<iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>