<div class="header__center header__index"> <!-- Шапка для главной -->
	<form action="" class="header__center-form">
		<div class="header__center-form-row">
			<div class="header__center-item full-item">
				<span class="item-svg">
					{{Icon iconName="d-arr"}}
				</span>
				<input type="text" class="custom-input" id="country-input" readonly required>
				<span class="custom-input-title">Страна/Город</span>
				<div class="search-variants">
					<div class="search-variants--wrap">
						<div class="search-variants-items">
							<label>
								<input type="radio" value="Австрия">
								<span>Австрия</span>
							</label>
							<label>
								<input type="radio" value="Австралия">
								<span>Австралия</span>
							</label>
							<label>
								<input type="radio" value="Германия">
								<span>Германия</span>
							</label>
							<label>
								<input type="radio" value="Греция">
								<span>Греция</span>
							</label>
							<label>
								<input type="radio" value="Испания">
								<span>Испания</span>
							</label>
							<label>
								<input type="radio" value="Италия">
								<span>Италия</span>
							</label>
							<label>
								<input type="radio" value="Кипр">
								<span>Кипр</span>
							</label>
							<label>
								<input type="radio" value="Франция">
								<span>Франция</span>
							</label>
							<a href="#" class="all-cities">Все города</a>
						</div>

						<div class="search-variants-items secondary-items">
							<label>
								<input type="radio" value="Пафос" disabled>
								<span>Пафос</span>
							</label>
							<label>
								<input type="radio" value="Лимассол" disabled>
								<span>Лимассол</span>
							</label>
							<label>
								<input type="radio" value="Паралимни" disabled>
								<span>Паралимни</span>
							</label>
							<label>
								<input type="radio" value="Айя-Напа" disabled>
								<span>Айя-Напа</span>
							</label>
							<label>
								<input type="radio" value="Никосия" disabled>
								<span>Никосия</span>
							</label>
							<label>
								<input type="radio" value="Ларнака" disabled>
								<span>Ларнака</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="header__center-item full-item">
				<span class="item-svg">
					{{Icon iconName="d-arr"}}
				</span>
				<input type="text" class="custom-input" id="ned-input" readonly required>
				<span class="custom-input-title">Тип недвижимости</span>
				<div class="search-variants">
					<div class="search-variants--wrap">
						<div class="search-variants-items">
							<label>
								<input type="radio" value="Квартиры" class="ned-input">
								<span>Квартиры</span>
							</label>
							<label>
								<input type="radio" value="Дома, виллы" class="ned-input">
								<span>Дома, виллы</span>
							</label>
							<label>
								<input type="radio" value="Пентхаусы" class="ned-input">
								<span>Пентхаусы</span>
							</label>
							<label>
								<input type="radio" value="Замки" class="ned-input">
								<span>Замки</span>
							</label>
							<label>
								<input type="radio" value="Шале" class="ned-input">
								<span>Шале</span>
							</label>
							<label>
								<input type="radio" value="Таунхаусы" class="ned-input">
								<span>Таунхаусы</span>
							</label>
							<label>
								<input type="radio" value="Острова" class="ned-input">
								<span>Острова</span>
							</label>
							<label>
								<input type="radio" value="Земельные участки" class="ned-input">
								<span>Земельные участки</span>
							</label>
							<label>
								<input type="radio" value="Коммерческая" class="ned-input">
								<span>Коммерческая</span>
							</label>
						</div>
						<div class="search-variants-items">
							<label class="ned-label">
								<input type="radio" name="check" value="Покупка" class="ned-check" checked>
								<div class="custom"></div>
								Покупка
							</label>
							<label class="ned-label">
								<input type="radio" name="check" value="Аренда" class="ned-check">
								<div class="custom"></div>
								Аренда
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="header__center-item full-item">
				<span class="item-svg">
					{{Icon iconName="d-arr"}}
				</span>
				<input type="text" class="custom-input" id="total-input" readonly required>
				<span class="custom-input-title">Стоимость</span>
				<div class="search-variants">
					<div class="search-variants--wrap">
						<div class="search-variants-items">
							<label>
								<input type="radio" class="total-check" value="от 100. 000">
								<span class="total-span">от 100. 000</span>
							</label>
							<label>
								<input type="radio" class="total-check" value="от 200. 000">
								<span class="total-span">от 200. 000</span>
							</label>
						</div>
						<div class="search-variants-items">
							<label>
								<input type="radio" class="total-check" value="от 100. 000">
								<span class="total-span">от 100. 000</span>
							</label>
							<label>
								<input type="radio" class="total-check" value="от 200. 000">
								<span class="total-span">от 200. 000</span>
							</label>
						</div>
					</div>

					<div class="change-currency">
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio" checked>
							<div class="currency-div">
								<span>$</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>€</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>₽</span>
							</div>
						</label>
						<label class="currency-label">
							<input type="radio" name="currency" class="currency-radio">
							<div class="currency-div">
								<span>£</span>
							</div>
						</label>
					</div>

				</div>
			</div>
			<div class="header__center-item full-item">
				<span class="item-svg">
					{{Icon iconName="d-arr"}}
				</span>
				<input type="text" name="category" class="custom-input" id="cat-input" readonly required>
				<span class="custom-input-title">Категория</span>

				<div class="category-variants">
					<label class="category-label">
						<input type="radio" value="Аукционная" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Аукционная
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Инвестиция" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Инвестиция
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Высокий доход" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Высокий доход
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Горячая цена" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Горячая цена
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Рассрочка 0%" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Рассрочка 0%
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Аренда с выкупом" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Аренда с выкупом
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="За биткоин" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							За биткоин
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="ВНЖ" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							ВНЖ
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Гражданство" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Гражданство
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Дистанционно" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Дистанционно
						</span>
					</label>
					<label class="category-label">
						<input type="radio" value="Приватная / nda" class="category-radio">
						<span class="custom">
							{{Icon iconName="true"}}
						</span>
						<span class="category-text">
							Приватная / nda
						</span>
					</label>
				</div>

			</div>
			<div class="header__center-item short-item">
				<div class="plus">
					<div class="plus-line"></div>
					<div class="plus-line"></div>
				</div>
				<div class="line"></div>
			</div>
			<button class="header__center-btn">
				{{Icon iconName="search"}}
				<p>Поиск</p>
			</button>
		</div>

		<div id="hiddenRow">
			<div class="header__center-form-row mt-2">
				<div class="header__center-item full-item">
					<span class="item-svg">
						{{Icon iconName="d-arr"}}
					</span>
					<input type="text" class="custom-input" id="area-input" readonly required>
					<span class="custom-input-title">площадь</span>
					<div class="search-variants">
						<div class="search-variants--wrap">
							<div class="search-variants-items">
								<label>
									<input type="radio" value="от 30" class="area-input">
									<span>от 30 <b>m2</b></span>
								</label>
								<label>
									<input type="radio" value="от 200" class="area-input">
									<span>от 200 <b>m2</b></span>
								</label>
								<label>
									<input type="radio" value="от 300" class="area-input">
									<span>от 300 <b>m2</b></span>
								</label>
								<label>
									<input type="radio" value="от 500" class="area-input">
									<span>от 500 <b>m2</b></span>
								</label>
								<label>
									<input type="radio" value="от 1000" class="area-input">
									<span>от 1000 <b>m2</b></span>
								</label>
							</div>
							<div class="search-variants-items">
								<label class="ned-label">
									<input type="radio" name="check" value="Общая" class="ned-check" checked>
									<div class="custom"></div>
									Общая
								</label>
								<label class="ned-label">
									<input type="radio" name="check" value="Жилая" class="ned-check">
									<div class="custom"></div>
									Жилая
								</label>
								<label class="ned-label">
									<input type="radio" name="check" value="Участок" class="ned-check">
									<div class="custom"></div>
									Участок
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="header__center-item full-item">
					<span class="item-svg">
						{{Icon iconName="d-arr"}}
					</span>
					<input type="text" name="category" class="custom-input" id="room-input" readonly required>
					<span class="custom-input-title">Спален</span>

					<div class="category-variants">
						<label class="category-label">
							<input type="radio" value="1" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								1
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="2" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								2
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="3" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								3
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="4" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								4
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="5" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								5
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="6" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								6
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Все" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Все
							</span>
						</label>
					</div>
				</div>
				<div class="header__center-item full-item">
					<span class="item-svg">
						{{Icon iconName="d-arr"}}
					</span>
					<input type="text" class="custom-input" id="sea-input" readonly required>
					<span class="custom-input-title">до моря</span>
					<div class="search-variants">
						<div class="search-variants--wrap">
							<div class="search-variants-items">
								<label>
									<input type="radio" class="total-check" value="Первая линия">
									<span class="total-span">Первая линия</span>
								</label>
								<label>
									<input type="radio" class="total-check" value="до 500 m">
									<span class="total-span">до 500 <b>m</b></span>
								</label>
								<label>
									<input type="radio" class="total-check" value="до 1 km">
									<span class="total-span">до 1 <b>km</b></span>
								</label>
								<label>
									<input type="radio" class="total-check" value="Все">
									<span class="total-span">Все</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="header__center-item full-item">
					<span class="item-svg">
						{{Icon iconName="d-arr"}}
					</span>
					<input type="text" name="category" class="custom-input" id="ter-input" readonly required>
					<span class="custom-input-title">на территории</span>

					<div class="category-variants">
						<label class="category-label">
							<input type="radio" value="Бассейн" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Бассейн
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Паркинг" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Паркинг
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Зина барбекю" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Зина барбекю
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Лаунж-зона" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Лаунж-зона
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Рассрочка 0%" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Рассрочка 0%
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Хамам" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Хамам
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Сауна" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Сауна
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="СПА-центр" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								СПА-центр
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Тренажерный зал" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Тренажерный зал
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Спортивный центр" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Спортивный центр
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Бильярд" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Бильярд
							</span>
						</label>
					</div>

				</div>
				<div class="header__center-item full-item">
					<span class="item-svg">
						{{Icon iconName="d-arr"}}
					</span>
					<input type="text" name="category" class="custom-input" id="has-input" readonly required>
					<span class="custom-input-title">оснащение</span>

					<div class="category-variants">
						<label class="category-label">
							<input type="radio" value="Умный дом" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Умный дом
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Мягкая мебель" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Мягкая мебель
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Сантехника" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Сантехника
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Цифровая техника" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Цифровая техника
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Бытовая техника" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Бытовая техника
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Кондиционер" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Кондиционер
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Охранная сигнализация" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Охранная сигнализация
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Натуральное дерево" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Натуральное дерево
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Тонированные окна" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Тонированные окна
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Французские окна" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Французские окна
							</span>
						</label>
						<label class="category-label">
							<input type="radio" value="Бронированная дверь" class="category-radio">
							<span class="custom">
								{{Icon iconName="true"}}
							</span>
							<span class="category-text">
								Бронированная дверь
							</span>
						</label>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>