<div class="advert">
	<div class="advert__row">
		<a href="#" class="advert--link">
			{{Icon iconName="advert-back"}}
			<span class="helper">
				Название объекта обязательно должно содержать в себе эту информацию. Название объекта обязательнодолжно содержать должно содержать в себе эту 
			</span>
		</a>
		<a href="#" class="advert--link">
			{{Icon iconName="advert-del"}}
			<span class="helper">
				Название объекта обязательно должно содержать в себе эту информацию. Название объекта обязательнодолжно содержать должно содержать в себе эту 
			</span>
		</a>
		<a href="#" class="advert--link">
			{{Icon iconName="advert-movie"}}
			<span class="helper">
				Название объекта обязательно должно содержать в себе эту информацию. Название объекта обязательнодолжно содержать должно содержать в себе эту 
			</span>
		</a>
		<a href="#" class="advert--link">
			{{Icon iconName="advert-pic"}}
			<span class="helper">
				Название объекта обязательно должно содержать в себе эту информацию. Название объекта обязательнодолжно содержать должно содержать в себе эту 
			</span>
		</a>
		<a href="#" class="advert--link">
			{{Icon iconName="advert-sound"}}
			<span class="helper">
				Название объекта обязательно должно содержать в себе эту информацию. Название объекта обязательнодолжно содержать должно содержать в себе эту 
			</span>
		</a>
	</div>

	<a href="#" class="adv--save">
		{{Icon iconName="save"}}
		сохранить
	</a>
</div>