.wrapper {
	max-width: 1386px;
	width: 100%;
	padding: 0 20px 0 0;
	margin: 0 auto;
}

.page {
	background: @back;
	&::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		width: 8px;
		max-height: 100px;
		background-color: #C19F58;
		border-radius: 0px;
	}
}

#hiddenRow {
	display: none;
}


.fixed {
	position: sticky;
	top: 0;
	z-index: 123;
}
.fixed-right {
	position: sticky;
	top: 0;
}

.fixed__menu {
	position: fixed;
	top: 73px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	&.active {
		visibility: visible;
		opacity: 1;
		z-index: 6;
	}
}

.header {
	position: relative;
	.left {
		max-width: 70px;
		width: 100%;
		flex-shrink: 0;
	}
	.center {
		max-width: 918px;
		width: 100%;
		flex-shrink: 0;
	}
	.right {
		max-width: 352px;
		width: 100%;
		flex-shrink: 0;
	}
	&__items {
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	&__left {
		width: 70px;
		height: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-bottom: 20px;
	}
	&__center {
		max-width: 918px;
		width: 100%;
		background: @light;
		margin-bottom: 20px;
		&-form {
			background: @back;
			&-row {
				background: @light;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-shrink: 0;
			}
		}
		&-item {
			height: 100%;
			height: 73px;
			position: relative;
			padding-top: 40px;
			&:not(:last-of-type) {
				border-right: 2px solid #F2F2F2;
			}
			&.full-item {
				width: 20%;
				flex-shrink: 0;
			}
			&.short-item {
				width: 90px;
				height: 73px;
				padding-top: 0;
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				.plus {
					margin-right: 0;
					width: 22px;
					height: 22px;
					&-line {
						color: @gray2;
						&:nth-child(1) {
							width: 22px;
							height: 2px;
						}
						&:nth-child(2) {
							width: 2px;
							height: 22px;
						}
					}
				}
				&.active {
					.plus {
						display: none;
					}
					.line {
						width: 22px;
						display: block;
						background: @gray2;
						margin-right: 0;
					}
				}
			}
			.item-svg {
				position: absolute;
				top: 40px;
				right: 20px;
				&.active {
					svg {
						fill: @main;
						transform: rotate(180deg);
						transition: .5s;
					}
				}
				svg {
					fill: @gray2;
					transition: .5s;
				}
			}
			.change-currency {
				width: 200px;
			}
			.currency-div span {
				.om();
				font-size: 16px;
				text-align: center;
				letter-spacing: 0.16em;
				text-transform: uppercase;
			}
			.currency-div:hover {
				background: @link;
				span {
					background: @link;
				}
			}
			.search-variants {
				position: absolute;
				top: calc(100% + 0px);
				left: 0;
				z-index: 12;
				width: auto;
				background: #F9F9F9;
				&-items {
					&:not(:last-child) {
						margin-right: 75px;
					}
				}
				.all-cities {
					.rr();
					font-size: 16px;
					line-height: 120%;
					color: #CEAC6A;
					margin-left: 12px;
				}
				.total-span {
					white-space: nowrap;
				}
			}
			.category-variants {
				display: none;
				padding: 30px;
				position: absolute;
				top: calc(100% + 0px);
				left: 0;
				z-index: 12;
				min-width: 250px;
				background: #F9F9F9;
			}
			.category-label {
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-bottom: 18px;
				.custom {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 16px;
					height: 16px;
					border: 2px solid #A5A5A5;
					flex-shrink: 0;
					line-height: 16px;
					text-align: center;
					svg {
						opacity: 0;
						fill: @light;
						transition: .5s;
						flex-shrink: 0;
					}
				}
			}
			.category-radio {
				display: none;
				&:checked + .custom {
					border: 2px solid transparent;
					background: #CDB75E;
					svg {
						opacity: 1;
						transition: .5s;
					}
				}
			}
			.category-text {
				display: inline-block;
				.rr();
				font-size: 16px;
				line-height: 19px;
				color: @gray1;
				margin-left: 13px;
			}
			.custom-input {
				border: none;
				outline: none;
				line-height: 20px;
				padding-left: 20px;
				.om();
				font-size: 11px;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: @gray2;
				width: 100%;
				// &:focus + .custom-input-title {
				// 	transform: translateY(-100%);
				// 	font-size: 9px;
				// 	color: #CEAC6A;
				// 	transition: .5s;
				// }
				
				&-title {
					display: inline-block;
					position: absolute;
					left: 20px;
					top: 40px;
					.om();
					font-size: 11px;
					line-height: 20px;
					letter-spacing: 0.16em;
					text-transform: uppercase;
					color: @gray2;
					pointer-events: none;
					transition: .5s;
					&.active {
						transform: translateY(-100%);
						font-size: 9px;
						color: #CEAC6A;
						transition: .5s;
					}
				}
			}
		}
		&-btn {
			width: 91px;
			height: 73px;
			background: #E3D0AA;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			svg {
				width: 21px;
				height: 21px;
				margin-bottom: 5px;
				fill: @light;
				transition: 1s;
			}
			p {
				.om();
				font-size: 11px;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: @light;
				display: flex;
				align-items: center;
				transition: 1s;
			}
		}
	}

	&__index {
		max-width: 896px;
	}
	&__right {
		max-width: 352px;
		width: 100%;
		height: 73px;
		background: @light;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		margin-bottom: 20px;
		&.header__forMain {
			.header__right-item {
				width: calc(100% / 3);
			}
		}
		&-item {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			cursor: pointer;
			transition: 1s;
			&:not(:last-child) {
				border-right: 2px solid @back;
			}
			&:hover {
				background: @back;
				transition: 1s;
				p {
					color: @dark;
					transition: .5s;
				}
				svg {
					fill: @dark;
					transition: .5s;
				}
			}
			&.active {
				background: @back;
				p {
					color: @dark;
				}
				svg {
					fill: @dark;
				}
			}
			// &.link {
			// 	background: @light;
			// 	p {
			// 		color: #76767a;
			// 	}
			// 	svg {
			// 		fill: #76767a;
			// 	}
			// }
			svg {
				width: 21px;
				height: 21px;
				margin-bottom: 5px;
				fill: @gray1;
				transition: 1s;
			}
			p {
				.om();
				font-size: 11px;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: #76767a;
				display: flex;
				align-items: center;
				transition: 1s;
				svg {
					margin-left: 8px;
					margin-bottom: 0;
					width: 10px;
					height: 7px;
					fill: #999999;
					flex-shrink: 0;
					transition: 1s;
				}
			}
		}
	}
}

.transform {
	display: none;
	width: 100%;
	cursor: pointer;
	transition: .4s;
	transition: all 1s ease;
	.menu {
		transition: all 1s ease;
		&:nth-child(1) {
			width: 16px;
			transform-origin: center center; 
			transform: rotate(-45deg) translate(24px, 12px);
		}
		&:nth-child(2) {
			width: 36px;
			transform-origin: center center; 
			transform: rotate(90deg) translate(2px, -2px);
		}
		&:nth-child(3) {
			width: 16px;
			transform-origin: right center; 
			transform: rotate(45deg) translate(12px, -39px);
		}
	}	

	&:hover .menu {
		background: @dark;
	}
}

.menu {
	display: inline-block;
	background: #696969;
	width: 36px;
	height: 3px;
	transition: .4s;
	margin-bottom: 4px;
	&-sm {
		transition: .4s;
		width: 25px;
	}
}

.main {
	&__items {
		display: flex;
	}
	&__left {
		width: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		flex-shrink: 0;
		padding-bottom: 50px;
		height: 641px;
		@media (max-height: 769px) {
			height: 500px;
		}
		&-menu {
			width: 100%;
			height: 70px;
			cursor: pointer;
			transition: .4s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-left: 15px;
			transform: translateY(-20px);
			&:hover {
				.menu {
					width: 36px;
					background: @dark;
					&:nth-child(2) {
						width: 25px;
						transition: .4s;
					}
					&-sm {
						transition: .4s;
						width: 36px;
					}
				}
			}

			&.active {
				transition: .4s;
				background: @light;
				padding-left: 20px;
				.menu {
					width: 36px;
					&:nth-child(1) {
						transition: .4s;
						transform-origin: center center;
						transform: rotate(45deg) translate(5px, 10px);
					}
					&:nth-child(2) {
						transition: .4s;
						opacity: 0;
					}
					&:nth-child(3) {
						transition: .4s;
						transform-origin: center center;
						transform: rotate(-45deg) translate(0, -5px);
					}
				}
			}
		}
		&-social {
			display: flex;
			flex-direction: column;
			align-items: center;
			.social-link {
				display: block;
				margin-bottom: 28px;
				svg {
					fill: #737373;
					transition: .5s;
				}
				&:hover {
					svg {
						transition: .5s;
						fill: #000000;
					}
				}
			}
		}
	}
	&__center {
		max-width: 896px;
		width: 100%;
		min-height: 636px;
		flex-shrink: 0;
		background: #353535;
		padding: 60px 0 125px 35px;
		position: relative;
	}
	&-caption {
		.om();
		font-size: 48px;
		line-height: 140%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #C39E5A;
		max-width: 465px;
		span {
			display: block;
			height: 205px;
			strong {
				color: @light;
			}
		}

		&__white {
			color: @light;
		}
	}
	&-desc {
		.rr();
		font-size: 20px;
		line-height: 24px;
		max-width: 350px;
		color: @gray4;
		margin-top: 39px;
	}
	&-reg {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 240px;
		margin-top: 40px;
		padding: 14px 24px;
		border: 3px solid #C39E5A;
		border-radius: 1px;

		.om();
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: #C39E5A;

		cursor: pointer;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			background: @main;
			width: 100%;
			height: 0;
			position: absolute;
			left: 0;
			top: 0;
			transition: height .5s;
			z-index: -1;
		}

		.user-svg {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 12px;
			position: relative;
			z-index: 2;
			svg {
				width: 20px;
				height: 20px;
				fill: #C39E5A;
			}
		}
		.arr-svg {
			margin-left: 12px;
			position: relative;
			z-index: 2;
			svg {
				fill: #C39E5A;
			}
		}

		&:hover {
			// background: @main;
			border: 3px solid #D1A96B;
			color: @light;
			&::before {
				height: 100%;
				transition: height .5s;
			}
			.user-svg {
				svg {
					fill: @light;
				}
			}
			.arr-svg {
				svg {
					fill: @light;
				}
			}
		}
		&:focus {
			background: #C39E5A;
			border: 3px solid #C39E5A;
			color: @light;
			.user-svg {
				svg {
					fill: @light;
				}
			}
			.arr-svg {
				svg {
					fill: @light;
				}
			}
		}
	}
	&-img {
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}
	&__right {
		max-width: 352px;
		width: 100%;
		height: 645px;
		flex-shrink: 0;
		background: url('/static/img/general/first-img.png') no-repeat top center / cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		@media (max-height: 769px) {
			height: 500px;
		}
		.right-text {
			.rm();
			color: @back;
			font-size: 14px;
			line-height: 112%;
			margin-top: 18px;
		}
		.right-close {
			position: absolute;
			top: 20px;
			right: 15px;
			font-size: 54px;
			line-height: 20px;
			color: #C1BDCA;
			font-weight: 500;
			cursor: pointer;
		}
	}

	&__content {
		display: none;
		background: @light;
		&.active {
			display: block;
		}

		&-top {
			padding: 30px 0 45px 0;
			margin: 0 30px 0 30px;
			border-bottom: 2px solid @back;
			h4 {
				.om();
				font-size: 14px;
				line-height: 148%;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: @dark;
				max-width: 220px;
			}
			p {
				.rr();
				font-size: 15px;
				line-height: 120%;
				color: @gray4;
				margin-top: 15px;
			}
		}

	}
}

.right-play {
	border: 4px solid #C39E5A;
	width: 100px;
	height: 60px;
	margin: 0 auto 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: height .5s;
	position: relative;
	z-index: 2;
	transition: height .5s;
	svg {
		stroke-width: 4px;
		stroke: #C39E5A;
		fill: transparent;
	}
	&::before {
		content: '';
		background: #C39E5A;
		width: 100%;
		height: 0;
		position: absolute;
		left: 0;
		top: 0;
		transition: height .5s;
		z-index: -1;
	}
	&:hover {
		border: 4px solid #C39E5A;
		svg {
			stroke: @light;
		}
		&::before {
			height: 100%;
			transition: height .5s;
		}
	}
	&:focus {
		border: 4px solid #AC8A4F;
		background: #AC8A4F;
		svg {
			stroke: @light;
		}
	}
}

.form-block {
	position: relative;
	margin: 0 30px;
}
.form-label {
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	.om();
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray2;
	transition: .5s;
	pointer-events: none;
}
.linear {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #CEAC6A;
	width: 0;
	transition: width .5s ease-in-out;
	left: 50%;
	transform: translateX(-50%);
}
.form-input {
	padding: 25px 0;
	width: 100%;
	padding-left: 0;
	padding-right: 10px;
	border: none;
	border-bottom: 2px solid @back;
	outline: none;
	.om();
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray2;
	&:focus + .linear {
		width: 100%;
	}
	&:focus ~ .form-label {
		transition: .5s;
		transform: translateY(-275%);
		color: #CEAC6A;
		font-size: 9px;
	}
	&:valid ~ .form-label {
		transition: .5s;
		transform: translateY(-275%);
		color: #CEAC6A;
		font-size: 9px;
	}
	&:focus ~ .form-span {
		transition: .5s;
		transform: translateY(-275%);
		font-size: 9px;
	}
	&:valid ~ .form-span {
		transition: .5s;
		transform: translateY(-275%);
		font-size: 9px;
	}
}
.form-span {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);

	.om();
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray4;
	transition: .5s;
}
.form-bottom {
	background: @light;
	width: 100%;
	padding: 30px;
	text-align: center;
}
.form-button {
	background: @link;
	width: 100%;
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.om();
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: @light;
	direction: ltr;
	transition: .5s;
	svg {
		width: 22px;
		height: 22px;
		fill: @light;
		margin-right: 15px;
	}
	&:hover {
		transition: .5s;
		background: #C39E5A;
	}
}
.form-link {
	display: block;
	margin-top: 25px;
	.rr();
	font-size: 14px;
	line-height: 118%;
	text-align: center;
	color: @gray4;
	transition: .5s;
	&:hover {
		transition: .5s;
		color: #000000;
	}
}

.lang {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	&-value {
		.om();
		font-size: 13px;
		line-height: 112%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: @gray2;
	}
	svg {
		transform: rotate(-90deg);
		width: 7px;
		height: 5px;
		margin-left: 5px;
		fill: @gray2;
	}
	&-variants {
		display: none;
		align-items: center;
		position: absolute;
		top: -50%;
		right: -80px;
		background: @light;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
		border-radius: 2px;
		padding: 6px 0;
		z-index: 2;
		&.active {
			display: flex;
		}
	}
	&-variant {
		display: inline-block;
		.om();
		font-size: 13px;
		line-height: 112%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: @gray2;
		padding: 0 10px;
		&:not(:last-child) {
			border-right: 1px solid #E9E9E9;
		}
		&:hover {
			color: @main;
		}
		&:focus {
			color: #AC8A4F;
		}
	}
}


.no-scroll {
	overflow: hidden;
}
.video-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: -1;
	visibility: hidden;
	&.active {
		z-index: 4;
		visibility: visible;
	}
}
.video-popup  {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 500px;
	background: @light;
	z-index: -1;
	visibility: hidden;
	&.active {
		z-index: 5;
		visibility: visible;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}

.films {
	max-height: 641px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		width: 6px;
		max-height: 100px;
		background-color: @link;
		border-radius: 10px;
	}
}
.film {
	display: flex;
	height: 75px;
	border-bottom: 2px solid #F2F2F2;
	cursor: pointer;
	padding: 0 20px 0 35px;
	&:hover {
		svg {
			fill: @link;
		}
	}
	&-more {
		display: flex;
		height: 75px;
		border-bottom: 2px solid #F2F2F2;
		cursor: pointer;
		&:hover {
			svg {
				fill: @link;
			}
		}
	}
	&-title {
		margin-left: 20px;
		display: flex;
		align-items: center;
		h4 {
			.rr();
			font-size: 15px;
			line-height: 18px;
			color: @gray2;
		}
	}
	&-play {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		svg {
			width: 18px;
			height: 14px;
			fill: @gray1;
		}
	}
	&-more {
		.film-title {
			h4 {
				color: @gray3;
			}
		}
	}
}

.search {
	max-height: 641px;
	overflow-y: auto;
	// direction: rtl;
	padding-left: 10px;
	background: @back;
	width: 100%;
	flex-shrink: 0;
	position: relative;
	@media (max-height: 769px) {
		max-height: 500px;
	}
	&::-webkit-scrollbar {
		position: absolute;
		left: 0;
		top: 0;
		width: 6px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: @link;
		border-radius: 10px;
	}
	.form-bottom {
		width: 336px;
	}
	&-item {
		direction: ltr;
		height: 75px;
		width: 336px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		padding: 30px 30px 25px 30px;
		position: relative;
		cursor: pointer;
		border-bottom: 2px solid #F2F2F2;
		background: @light;
		&-span {
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			.om();
			font-size: 11px;
			line-height: 112%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @dark;
			z-index: 2;
			transition: .4s;
			&.selected {
				transition: .4s;
				font-size: 9px;
				transform: translateY(-25px);
				color: @main;
			}
		}

		&-input {
			width: 100%;
			height: 20px;
			border: none;
			outline: none;
			.rr();
			font-size: 16px;
			line-height: 120%;
			color: @gray1;
			cursor: pointer;
		}
	}
	&-variants {
		background: #F9F9F9;
		direction: ltr;
		padding: 25px 30px 30px 30px;
		display: none;
		&-items {
			display: flex;
			flex-direction: column;
		}
		&--wrap {
			display: flex;
			align-items: flex-start;
		}
		label {
			margin-bottom: 10px;
			cursor: pointer;
			input {
				display: none;
				&:checked + span {
					color: @light;
					background: #565656;
				}
			}
			&:hover span {
				color: @light;
				background: #565656;
			}
			span {
				display: inline-block;
				.rr();
				font-size: 15px;
				line-height: 120%;
				color: @gray1;
				padding: 3px 10px;
				flex-shrink: 0;
				white-space: nowrap;
				b {
					display: inline-block;
					margin-left: 25px;
				}
			}
		}

	}

	.secondary-items {
		margin-left: auto;
		label {
			color: @gray4;
		}
		span {
			color: @gray4;
		}
	}
}


.ned-label {
	.rr();
	font-size: 16px;
	line-height: 120%;
	color: @gray1;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding: 3px 10px;
	cursor: pointer;
	.custom {
		width: 15px;
		height: 15px;
		border: 2px solid #B7B7B7;
		margin-right: 14px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			background: @main;
			opacity: 0;
			transition: .3s;
		}
	}
	.ned-check {
		display: none;
		&:checked + .custom {
			border: 2px solid #565656;
			&::before {
				opacity: 1;
				transition: .3s;
			}
		}
	}
}


.advantage {
	margin-top: 20px;
	&-container {
		position: relative;
		.nav-btn {
			position: absolute;
			bottom: 0;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: 0;
				border-top: 2px solid @back;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: 42px;
				border-right: 2px solid @back;
				border-top: 2px solid @back;
				border-left: 2px solid @back;
			}
		}
	}
	&__content {
		max-width: 896px;
		width: 100%;
		background: @light;
		display: flex;
	}
	&__item {
		padding: 34px 30px 38px 35px;
		max-width: calc(100% / 3);
		&:not(:first-child) {
			border-left: 2px solid @back;
		}
		&-value {
			.om();
			font-size: 48px;
			line-height: 140%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: @link;
		}
		&-title {
			.om();
			font-size: 20px;
			line-height: 152%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
			margin-top: 7px;
			color: @dark;
		}

		.line {
			display: inline-block;
			width: 71px;
			height: 2px;
			background: @link;
			margin-top: 10px;
		}

		&-desc {
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: @gray2;
			margin-top: 20px;
		}
		&-link {
			display: inline-block;
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: #D9C295;
			margin-top: 20px;
			&:hover {
				color: #c39e5a;
			}
		}
	}
}

.opportunities {
	margin-top: 20px;
	&__content {
		max-width: 896px;
		width: 100%;
		background: @light;
		padding: 35px 0 30px 0;
		position: relative;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 128px;
				transition: .6s;
				visibility: visible;
			}
		}
	}
	&__select {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 60px;
	}
	&__title {
		padding-left: 63px;
		margin-top: 36px;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid @back;

		&-info {
			max-width: 350px;
			.line {
				width: 71px;
				height: 2px;
				background: @link;
				margin-top: 19px;
			}
		}
		&-title {
			.om();
			font-size: 20px;
			line-height: 152%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
			color: @dark;
		}
		&-desc {
			margin-top: 20px;
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: @gray2;
		}
		&-link {
			display: inline-block;
			margin-top: 20px;
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: #D9C295;
			&:hover {
				color: #c39e5a;
			}
		}
		&-image {
			width: 378px;
			height: 314px;
			flex-shrink: 0;
			img {
				border-radius: 5px;
				object-fit: cover;
			}
		}
		&:nth-child(odd) {
			padding: 40px 35px 70px 100px;
		}
		&:nth-child(even) {
			padding: 50px 60px 60px 35px;
		}
	}

	&__register {
		margin-top: 27px;
		display: flex;
		justify-content: center;
		.reg {
			display: flex;
			align-items: center;
			justify-content: center;
			background: @link;
			.om();
			padding: 17px 50px;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
			color: @light;
			cursor: pointer;

			transition: 1s;
			svg {
				width: 22px;
				height: 22px;
				fill: @light;
				margin-right: 15px;
			}

			&:hover {
				background: #C39E5A;
				transition: 1s;
			}
			&:focus {
				background: #AC8A4F;
			}
		}
	}
}

.sort {
	.select2-container {
		width: 100% !important;
	}
	.select2-container--default .select2-selection--single {
		border: none;
		height: auto;
		outline: none;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-left: 0;
		.rr();
		font-size: 15px;
		color: #6F6E73;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-right: 30px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #999999 transparent transparent transparent;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #999999 transparent;
	}
	.sorted-link {
		.rr();
		font-size: 15px;
		line-height: 100%;
		color: #76767a;
		display: flex;
		align-items: center;
		svg {
			margin-left: 10px;
			width: 10px;
			height: 8px;
			fill: #999999;
		}
	}
}

#body-svg {
	fill: transparent;
}
#border-svg {
	fill: #e3d0aa;
}

.last__item-name svg:hover {
	#body-svg {
		fill: #ceac6a !important;
	}
	#border-svg {
		fill: #ceac6a !important;
	}
}

.last {
	margin-top: 20px;
	&-container {
		width: 344px;
		flex-shrink: 0;
		position: relative;
		&:hover .last-btn {
			opacity: 1;
			transition: opacity .5s;
		}
		.last-btn {
			opacity: 0;
			transition: opacity .5s;
			position: absolute;
			bottom: 2px;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			background: @light;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: 2px;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: 45px;
			}
		}
	}
	&__content {
		max-width: 896px;
		width: 100%;
		background: @light;
		padding: 35px 0 0 0;
		position: relative;
		border-bottom: 2px solid @link;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
	}
	&__select {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 60px;
		form {
			margin-left: 40px;
		}
	}
	&__title {
		padding-left: 63px;
		margin-top: 36px;
		padding-bottom: 36px;
		border-bottom: 2px solid @back;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}

	&__item {
		padding: 35px 41px 45px 32px;
		border-bottom: 2px solid @back;
		display: flex;
		align-items: flex-start;
		transition: .5s;
		&:hover {
			transition: .5s;
			// box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1);
			.last__item-title {
				color: @main;
			}
		}
		&-image {
			width: 344px;
			height: 240px;
			flex-shrink: 0;
			img {
				display: block;
				object-fit: cover;
			}
		}
		&-info {
			margin-left: 24px;
		}
		&-name {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			svg {
				margin-top: 5px;
				fill: transparent;
				cursor: pointer;
				transition: 1s;
				width: 20px;
				height: 20px;
				flex-shrink: 0;
				stroke: #E4D0A9;
				stroke-width: 1.5;
				&:hover {
					transition: 1s;
					fill: #ceac6a;
					stroke: #ceac6a;
				}
			}
		}
		&-title {
			.rr();
			font-size: 22px;
			line-height: 120%;
			color: @link;
			max-width: 400px;
			margin-top: -4px;
		}
		&-place {
			margin-top: 15px;
			display: flex;
			align-items: center;
			p {
				max-width: 310px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				.rr();
				font-size: 16px;
				line-height: 132%;
				color: @gray2;
			}
			svg {
				fill: @link;
				margin-right: 8px;
			}
		}
		&-tags {
			margin-top: 12px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #ECE7E1;
		} 
		&-tag {
			display: inline-block;
			padding: 8px;
			background: @back;
			border-radius: 4px;
			margin-right: 8px;
			margin-bottom: 18px;
			.rr();
			font-size: 14px;
			line-height: 112%;
			color: @dark;
		}
		&-desc {
			margin-top: 12px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.lot {
				.om();
				font-size: 13px;
				line-height: 132%;
				color: #333333;
				margin-right: 10px;
				margin-bottom: 8px;
			}
			.desc {
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @gray2;
				margin-right: 15px;
				margin-bottom: 8px;
				b {
					.rm();
					color: @dark;
				}
			}
			.line {
				background: #E4D0A9;
				height: 19px;
				width: 1px;
				margin: 0 15px 8px 0;
			}
		}
		&-price {
			margin-top: 5px;
			display: flex;
			align-items: center;
			.cashback {
				display: flex;
				align-items: center;
				margin-left: auto;
				p {
					.om();
					font-size: 11px;
					line-height: 16px;
					letter-spacing: 0.2em;
					color: @dark;
					text-transform: uppercase;
				}
				span {
					display: inline-block;
					padding: 2px 5px;
					background: #E3D0AA;
					border-radius: 20px;
					margin-left: 11px;
					.om();
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.2em;
					color: @light;
					text-transform: uppercase;
					transition: .5s;
					&:hover {
						transition: .5s;
						background: #c39e5a;
					}
				}
			}
		}
	}

	&__more {
		margin-top: 25px;
		p {
			.om();
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #C4C4C4;
			span {
				display: inline-block;
				color: @link;
			}
		}
	}
	&__open {
		display: flex;
		justify-content: center;
		.circle {
			background: @light;
			border: 2px solid @link;
			width: 66px;
			height: 66px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translateY(50%);
			cursor: pointer;
			transition: .5s;
			svg {
				transform: rotate(90deg);
				width: 30px;
				height: 30px;
				fill: @link;
			}
			&:hover {
				transition: .5s;
				border: 2px solid #c39e5a;
				background: #c39e5a;
				svg {
					fill: @light;
				}
			}
		}
	}
}

.price {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	svg {
		transition: .5s;
	}
	&.active {
		svg {
			fill: #c39e5a;
			transform: rotate(180deg);
			transition: .5s;
		}
	}
	&-total {
		.om();
		font-size: 18px;
		line-height: 152%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: #333333;
		margin-right: 13px;
	}
	&__info {
		position: absolute;
		left: 0;
		top: 120%;
		padding: 30px;
		background: @light;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
		border-radius: 3px;
		min-width: 270px;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transition: .5s;
		&.active {
			opacity: 1;
			z-index: 3;
			visibility: visible;
			transition: .5s;
		}
		&-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 11px;
			.price-attr {
				.rr();
				font-size: 14px;
				line-height: 112%;
				color: @gray1;
			}
			.price-value {
				.rr();
				font-size: 14px;
				line-height: 112%;
				color: @dark;
			}
		}
	}
	&-line {
		width: 18px;
		height: 1px;
		background: #BABABA;
	}
}

.change-currency {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 2px;
	overflow: hidden;
	margin-top: 25px;
}
.currency-label {
	width: 25%;
	display: block;
}
.currency-div {
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: @back;
	span {
		.om();
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: @gray2;
	}
}
.currency-radio {
	display: none;
	&:checked + .currency-div {
		background: @link;
		span {
			color: @light;
		}
	}
}

.hot {
	margin-top: 60px;
	&__content {
		max-width: 896px;
		width: 100%;
		background: @light;
		padding: 35px 0 0 0;
		position: relative;
		border-bottom: 2px solid @link;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
	}
	&__select {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 60px;
		form {
			margin-left: 40px;
		}
	}
	&__title {
		padding-left: 63px;
		margin-top: 36px;
		padding-bottom: 36px;
		border-bottom: 2px solid @back;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}

	&__item {
		padding: 35px 41px 45px 32px;
		border-bottom: 2px solid @back;
		display: flex;
		align-items: center;
		transition: .5s;
		&:hover {
			transition: .5s;
			// box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
			.hot__item-title {
				color: @main;
			}
		}
		&-image {
			margin-right: 24px;
			width: 344px;
			height: 240px;
			flex-shrink: 0;
			img {
				display: block;
				object-fit: cover;
			}
		}
		&-name {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			svg {
				margin-top: 5px;
				fill: #e3d0aa;
				cursor: pointer;
				transition: 1s;
				&:hover {
					transition: 1s;
					fill: #ceac6a;
				}
			}
		}
		&-title {
			.rr();
			font-size: 22px;
			line-height: 120%;
			color: @link;
			max-width: 400px;
		}
		&-place {
			margin-top: 15px;
			display: flex;
			align-items: center;
			p {
				max-width: 310px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				.rr();
				font-size: 16px;
				line-height: 132%;
				color: @gray2;
			}
			svg {
				fill: @link;
				margin-right: 8px;
			}
		}
		&-tags {
			margin-top: 12px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #ECE7E1;
		} 
		&-tag {
			display: inline-block;
			padding: 8px;
			background: @back;
			border-radius: 4px;
			margin-right: 8px;
			margin-bottom: 18px;
			.rr();
			font-size: 14px;
			line-height: 112%;
			color: @dark;
		}
		&-desc {
			margin-top: 12px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.lot {
				.om();
				font-size: 13px;
				line-height: 132%;
				color: #333333;
				margin-right: 10px;
				margin-bottom: 8px;
			}
			.desc {
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @gray2;
				margin-right: 15px;
				margin-bottom: 8px;
				b {
					.rm();
					color: @dark;
				}
			}
			.line {
				background: #E4D0A9;
				height: 19px;
				width: 1px;
				margin: 0 15px 8px 0;
			}
		}
		&-price {
			margin-top: 12px;
			display: flex;
			align-items: center;
			
			.cashback {
				display: flex;
				align-items: center;
				margin-left: auto;
				p {
					.om();
					font-size: 11px;
					line-height: 16px;
					letter-spacing: 0.2em;
					color: @dark;
					text-transform: uppercase;
				}
				span {
					display: inline-block;
					padding: 2px 5px;
					background: #E3D0AA;
					border-radius: 20px;
					margin-left: 11px;
					.om();
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.2em;
					color: @light;
					text-transform: uppercase;
					transition: .5s;
					&:hover {
						transition: .5s;
						background: #c39e5a;
					}
				}
			}
		}
	}

	&__more {
		margin-top: 25px;
		p {
			.om();
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #C4C4C4;
			span {
				display: inline-block;
				color: @link;
			}
		}
	}
	&__open {
		display: flex;
		justify-content: center;
		.circle {
			background: @light;
			border: 2px solid @link;
			width: 66px;
			height: 66px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translateY(50%);
			cursor: pointer;
			transition: .5s;
			svg {
				transform: rotate(90deg);
				width: 30px;
				height: 30px;
				fill: @link;
			}
			&:hover {
				transition: .5s;
				border: 2px solid #c39e5a;
				background: #c39e5a;
				svg {
					fill: @light;
				}
			}
		}
	}
}

.popular {
	margin-top: 60px;
	&__content {
		max-width: 896px;
		width: 100%;
		background: @light;
		padding: 85px 100px 62px 35px;
		position: relative;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 116px;
				transition: .6s;
				visibility: visible;
			}
		}
	}

	&__title {
		padding-left: 25px;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}

	&__countries {
		margin-top: 45px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&-col {
			display: flex;
			flex-direction: column;
		}
		.country {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			filter: grayscale(100%);
			&:hover {
				filter: grayscale(0);
			}
			p {
				margin: 0 12px;
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @dark;
			}
			span {
				display: inline-block;
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @gray4;
			}
		}
		.all-countries {
			display: inline-block;
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: #E3D0AA;
			transition: .5s;
			&:hover {
				color: #c39e5a;
				transition: .5s;
			}
		}
	}
}

.only-logo {
	margin-top: 20px;
	margin-bottom: 12px;
	&-wrap {
		width: 70px;
		text-align: center;
		
	}
}

@keyframes animatedFooter {
	0% {
		transform: translateX(-886px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


.footer {
	overflow: hidden;
	&__copyright {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__items {
		display: flex;
		overflow: hidden;
	}
	&__left {
		width: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		background: @light;
		padding: 21px 0 37px 0;
		position: relative;
		z-index: 3;
		.up {
			cursor: pointer;
			text-align: center;
			transition: 1s;
			.arr {
				display: inline-block;
				width: 35px;
				height: 3px;
				background: #696969;
				transition: all 1s ease;
			}
			&.active {
				transition: all 1s ease;
				.arr {
					transition: all 1s ease;
					&:nth-child(1) {
						width: 16px;
						transform-origin: right center; 
						transform: rotate(-45deg) translate(6px, 100%);
					}
					&:nth-child(2) {
						transform-origin: left center; 
						transform: rotate(90deg) translateY(-2px);
					}
					&:nth-child(3) {
						width: 16px;
						transform-origin: right center; 
						transform: rotate(45deg) translate(-7px, -90%);
					}
				}	
			}
		}
		.lang {
			&-value {
				.om();
				font-size: 13px;
				line-height: 112%;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: @gray2;
			}
		}
	}
	&__center {
		max-width: 896px;
		width: 100%;
		background: @light;
		flex-shrink: 0;
		padding: 30px 35px 34px 35px;
		transition: 2s;
		position: relative;
		z-index: 2;
		// transform: translateX(-886px);
		opacity: 1;
		margin-top: 60px;
		// &.active {
		// 	transition: 2s;
		// 	animation: animatedFooter 2s ease-in-out forwards;
		// }
	}
	&__centered {
		max-width: 896px;
		width: 100%;
		background: @light;
		flex-shrink: 0;
		padding: 30px 35px 34px 35px;
		transition: 2s;
		position: relative;
		z-index: -1;
		transform: translateX(-886px);
		opacity: 0;
		// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
		&.active {
			z-index: 2;
			transition: 2s;
			animation: animatedFooter 2s ease-in-out forwards;
		}
	}
	&__nav {
		flex-shrink: 0;
		display: flex;
		&-row {
			flex-shrink: 0;
			padding-right: 43px;
			flex-shrink: 0;
			border-right: 1px solid @link;
		}
	}
	&__conf {
		display: inline-flex;
		align-items: flex-end;
		margin-top: 70px;
		&-links {
			margin-left: 32px;
			a {
				.rr();
				display: inline;
				font-size: 14px;
				line-height: 20px;
				color: @gray3;
				position: relative;
				z-index: 1;
				transition: .5s;
				&:nth-child(2) {
					z-index: 2;
					margin-left: 10px;
				}
				&:hover {
					transition: .5s;
					color: #000000;
				}
			}
		}
	}
	&__column {
		display: inline-flex;
		flex-direction: column;
		&:not(:last-child) {
			margin-right: 60px;
		}
		h4 {
			.om();
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
			color: @dark;
			margin-bottom: 24px;
		}
		.footer-link {
			display: inline-flex;
			align-items: flex-start;
			.rr();
			font-size: 15px;
			line-height: 16px;
			color: @gray1;
			margin-bottom: 17px;
			max-width: 130px;
			transition: .5s;

			svg {
				transform: rotate(-90deg);
				margin-right: 8px;
				margin-top: 3px;
			}

			&:hover {
				transition: .5s;
				color: #000000;
			}
		}
	}

	&__contacts {
		padding-left: 35px;
		.phone {
			display: flex;
			align-items: center;
			&-link {
				.om();
				font-size: 16px;
				line-height: 140%;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: @dark;
				span {
					color: @gray2;
				}
			}
			.on {
				display: inline-block;
				width: 23px;
				height: 13px;
				background: #4ED74F;
				border-radius: 10px;
				margin-left: 16px;

				.rb();
				font-size: 9px;
				line-height: 13px;
				text-align: center;
				text-transform: uppercase;
				color: @light;
			}
		}

		&-desc {
			margin-top: 20px;
			p {
				.rr();
				font-size: 15px;
				line-height: 112%;
				color: @gray2;
				max-width: 214px;
			}
		}
		&-chats {
			margin-top: 20px;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			.chat {
				display: inline-flex;
				align-items: center;
				background: #F4F4F4;
				.om();
				font-size: 12px;
				line-height: 112%;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: @dark;
				margin-bottom: 4px;
				&:not(:nth-child(2n)) {
					margin-right: 4px;
				}
				svg {
					fill: none;
					margin-right: 7px;
				}
			}
			.ws {
				padding: 14px 25px;
				&:hover {
					background: #2AB200;
					color: @light;
					svg {
						fill: @light;
					}
				}
				&:focus {
					background: #27A101;
					color: @light;
					svg {
						fill: #347902;
					}
				}
			}
			.viber {
				padding: 14px 20px;
				&:hover {
					background: #8B50A4;
					color: @light;
					svg {
						fill: @light;
					}
				}
				&:focus {
					background: #7A4193;
					color: @light;
					svg {
						fill: #501F66;
					}
				}
			}
			.tg {
				padding: 14px 17px;
				&:hover {
					background: #2096D4;
					color: @light;
					svg {
						fill: @light;
					}
				}
				&:focus {
					background: #158AC8;
					color: @light;
					svg {
						fill: #09608D;
					}
				}
			}
			.ms {
				padding: 14px 12px;
				&:hover {
					background: #0084FF;
					color: @light;
					svg {
						fill: @light;
					}
				}
				&:focus {
					background: #0176E3;
					color: @light;
					svg {
						fill: #065299;
					}
				}
			}
		}
		&-mail {
			margin-top: 30px;
			a {
				display: inline-block;
				.rr();
				font-size: 16px;
				line-height: 132%;
				color: @dark;
			}
		}
		&-place {
			margin-top: 30px;
			span {
				display: inline-block;
				.rr();
				font-size: 14px;
				line-height: 120%;
				color: @gray1;
			}
			p {
				.rr();
				margin-top: 8px;
				font-size: 16px;
				line-height: 112%;
				color: @dark;
			}
		}
		&-social {
			margin-top: 30px;
			display: flex;
			align-items: center;
			a {
				display: inline-block;
				margin-right: 30px;
				svg {
					fill: #737373;
					transition: .5s;
				}
				&:hover {
					svg {
						transition: .5s;
						fill: #000000;
					}
				}
			}
		}
		&-copy {
			margin-top: 30px;	
			.rr();
			font-size: 14px;
			line-height: 112%;
			color: @gray3;
		}
	}
}

.select2-container--open .select2-dropdown {
	// width: 183px !important;
	// left: -20px;
	// top: 15px;
	border: 2px solid #F2F2F2;
}
.select2-results__option {
	.om();
	font-size: 14px;
	line-height: 112%;
	color: @gray3;
	padding: 10px 10px 10px 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: @dark;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: @gray5;
	color: @light;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: @main;
	color: @light;
}


.card {
	padding: 45px 41px 45px 32px;
	border-bottom: 2px solid @back;
	display: flex;
	align-items: flex-start;
	transition: .5s;
	&:hover {
		transition: .5s;
		.card-title {
			color: @main;
		}
	}
	&-container {
		width: 344px;
		flex-shrink: 0;
		position: relative;
		&:hover .card-btn {
			opacity: 1;
			transition: opacity .5s;
		}
		.card-btn {
			opacity: 0;
			transition: opacity .5s;
			position: absolute;
			bottom: 2px;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			background: @light;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: 2px;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: 45px;
			}
		}
	}
	&-image {
		width: 344px;
		height: 240px;
		flex-shrink: 0;
		img {
			display: block;
			object-fit: cover;
		}
	}
	&-info {
		margin-left: 24px;
	}
	&-name {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		svg {
			margin-top: 5px;
			fill: transparent;
			cursor: pointer;
			transition: 1s;
			width: 20px;
			height: 20px;
			flex-shrink: 0;
			stroke: #E4D0A9;
			stroke-width: 1.5;
			&:hover {
				transition: 1s;
				fill: #ceac6a;
				stroke: #ceac6a;
			}
			&.active {
				transition: 1s;
				fill: #ceac6a;
				stroke: #ceac6a;
			}
		}
	}
	&-title {
		.rr();
		font-size: 22px;
		line-height: 120%;
		color: @link;
		max-width: 400px;
		margin-top: -4px;
	}
	&-place {
		margin-top: 15px;
		display: flex;
		align-items: center;
		p {
			max-width: 310px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.rr();
			font-size: 16px;
			line-height: 132%;
			color: @gray2;
		}
		svg {
			fill: @link;
			margin-right: 8px;
		}
	}
	&-tags {
		margin-top: 12px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-bottom: 1px solid #ECE7E1;
	} 
	&-tag {
		display: inline-block;
		padding: 8px;
		background: @back;
		border-radius: 4px;
		margin-right: 8px;
		margin-bottom: 18px;
		.rr();
		font-size: 14px;
		line-height: 112%;
		color: @dark;
		transition: .5s;
		position: relative;
		&:hover {
			transition: .5s;
			background: @gray4;
			color: @light;
		}
	}
	.more-tag {
		cursor: pointer;
		display: inline-block;
		padding: 8px;
		background: @back;
		border-radius: 4px;
		margin-right: 8px;
		margin-bottom: 18px;
		.rr();
		font-size: 14px;
		line-height: 112%;
		color: @dark;
		transition: .5s;
		&:hover {
			transition: .5s;
			background: @gray4;
			color: @light;
		}
	}
	&-desc {
		margin-top: 12px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.lot {
			.om();
			font-size: 13px;
			line-height: 132%;
			color: #333333;
			margin-right: 10px;
			margin-bottom: 8px;
		}
		.desc {
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: @gray2;
			margin-right: 15px;
			margin-bottom: 8px;
			b {
				.rm();
				color: @dark;
			}
		}
		.line {
			display: block;
			flex-shrink: 0;
			background: #E4D0A9;
			height: 19px;
			width: 1px;
			margin: 0 15px 8px 0;
		}
	}
	&-price {
		margin-top: 5px;
		display: flex;
		align-items: center;
		&.special-card-price {
			margin-top: 6px;
		}
		.cashback {
			display: flex;
			align-items: center;
			margin-left: auto;
			p {
				.om();
				font-size: 11px;
				line-height: 16px;
				letter-spacing: 0.2em;
				color: @dark;
				text-transform: uppercase;
			}
			span {
				display: inline-block;
				padding: 2px 5px;
				background: #E3D0AA;
				border-radius: 20px;
				margin-left: 11px;
				.om();
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.2em;
				color: @light;
				text-transform: uppercase;
				transition: .5s;
				&:hover {
					transition: .5s;
					background: #c39e5a;
				}
			}
		}
		.action {
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-top: -16px;
			transition: .5s;
			p {
				.om();
				font-size: 11px;
				line-height: 16px;
				letter-spacing: 0.2em;
				color: @dark;
				text-transform: uppercase;
				margin-right: 10px;
				margin-top: 15px;
			}
			&:hover .card__time span {
				transition: .5s;
				background: #c39e5a;
			}
		}
	}
	&__time {
		text-align: center;
		&:not(:last-child) {
			margin-right: 2px;
		}
		&-name {
			.rr();
			font-size: 10px;
			line-height: 12px;
			color: @gray1;
			margin-bottom: 4px;
		}
		span {
			display: inline-block;
			width: 40px;
			padding: 2px 5px;
			background: #E3D0AA;
			.om();
			font-size: 11px;
			line-height: 15px;
			letter-spacing: 0.2em;
			color: @light;
			text-transform: uppercase;
			transition: .5s;
			text-align: center;
			
		}
		&-day {
			border-radius: 20px 0 0 20px;
		}
		&-min {
			border-radius: 0 20px 20px 0;
		}
	}
}


.catalog {
	background: @light;
	margin-top: 20px;
	max-width: 896px;
	position: relative;
	.vertical-line {
		width: 3px;
		height: 117px;
		background: @link;
		position: absolute;
		top: 0;
		left: 35px;
		transition: .6s;
	}
	&__header {
		padding: 35px 60px;
	}
	&__sort {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		& > * {
			margin-left: 35px;
		}
	}
	&__value {
		display: inline-block;
		.rr();
		font-size: 16px;
		line-height: 112%;
		color: @main;
	}
	&__bar {
		margin-top: 5px;
		a {
			display: inline-block;
			.rr();
			font-size: 12px;
			line-height: 112%;
			color: @gray4;
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
	&__title {
		margin-top: 15px;
		.om();
		font-size: 28px;
		line-height: 112%;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: @dark;
	} 

	&__pagination {
		padding: 27px 32px;
		display: flex;
		align-items: center;
		.pag-link {
			display: inline-block;
			width: 45px;
			height: 39px;
			text-align: center;
			line-height: 39px;
			.om();
			font-size: 17px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #737373;
			transition: .5s;
			&:hover {
				background: #565656;
				color: @light;
				transition: .5s;
			}
			&.active {
				background: #565656;
				color: @light;
				transition: .5s;
			}
		}
		span {
			display: inline-block;
			margin: 0 15px;
			.om();
			font-size: 17px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #737373;
		}
		.catalog__value {
			margin-left: 40px;
		}
	}
}

.register {
	background: @back;
	&__center {
		display: flex;
		justify-content: center;	
		padding: 27px 0;
		width: 100%;
	}
	&__scroll {
		max-width: 378px;
		width: 100%;
		max-height: 670px;
		overflow-y: auto;
		background: @back;
		padding-right: 15px;
		&::-webkit-scrollbar {
			width: 8px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			width: 8px;
			max-height: 100px;
			background-color: #C19F58;
			border-radius: 0px;
		}
		@media (max-height: 769px) {
			max-height: 90vh;
			height: 100%;
		}
	}
	&__block {
		max-width: 352px;
		width: 100%;
		flex-shrink: 0;
		background: #fff;
		padding: 30px 35px 40px 35px;
		
		@media (max-height: 769px) {
			padding: 20px 25px 30px 25px;
		}
		&-title {
			.om();
			font-size: 16px;
			line-height: 148%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @main;
		}
		&-form {
			margin-top: 35px;
			border-top: 2px solid #F7F7F7;
			@media (max-height: 769px) {
				margin-top: 25px;
			}
			.form-block {
				margin: 0;
				position: relative;
				&.active {
					.form-arrow {
						transform: rotate(180deg);
						transform-origin: center top;
						transition: .5s;
						svg {
							fill: @main;
						}
					}
				}
			}
			.form-bottom {
				padding: 30px 0;
			}
			.form-span {
				right: 5px;
			}
			.form-input {
				padding: 19px 0;
			}
			.form-button {
				@media (max-height: 769px) {
					padding: 19px 0;
				}
			}
			.form-arrow {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				transition: .5s;
				transform-origin: center top;
				svg {
					fill: @gray1;
				}
			}
		}
	}
	.form-accept-label {
		.rr();
		font-size: 14px;
		line-height: 132%;
		color: @gray2;
		display: flex;
		align-items: flex-start;
		padding: 3px 0;
		cursor: pointer;
		.custom {
			width: 15px;
			height: 15px;
			border: 2px solid #B7B7B7;
			margin-right: 14px;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			&::before {
				content: '';
				display: inline-block;
				width: 7px;
				height: 7px;
				background: @main;
				opacity: 0;
				transition: .3s;
			}
		}
		.form-accept-link {
			display: inline;
			.rr();
			font-size: 14px;
			line-height: 132%;
			color: @link;
		}
		.form-accept-check {
			display: none;
			&:checked + .custom {
				border: 2px solid #565656;
				&::before {
					opacity: 1;
					transition: .3s;
				}
			}
		}
	}
}

.zahvat__center {
	display: flex;
	padding: 20px 0;
	width: 100%;
	.main__right {
		height: 713px;
		margin-right: 20px;
		@media (max-height: 769px) {
			height: 90vh;
		}
		.right-play {
			margin-top: 0;
		}
	}
	.register__scroll {
		max-height: 713px;
		height: auto;
		@media (max-height: 769px) {
			max-height: 90vh;
		}
	}
	.register__block {
		height: 100%;
		@media (max-height: 769px) {
			max-height: 100%;
		}
	}
}
.zahvat__block {
	max-width: 532px;
	width: 100%;
	height: 713px;
	background: @light;
	margin-right: 20px;
	padding: 40px 50px 100px 50px;
	@media (max-height: 769px) {
		height: 90vh;
		padding: 20px 30px 20px 30px;
	}
	&-item {
		margin-top: 55px;
		@media (max-height: 769px) {
			margin-top: 25px;
		}
		.zahvat__block-desc {
			display: none;
		}
		&.active {
			.zahvat__block-name {
				color: @main;
				.line {
					display: block;
					background: #E4D0A9;
				}
				.plus {
					display: none;
				}
			}
		}
	}
	&-title {
		h1 {
			.om();
			font-size: 38px;
			line-height: 140%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: @main;
			b {
				color: @dark;
			}
			@media (max-height: 769px) {
				font-size: 34px;
				line-height: 120%;
			}
		}
	}
	&-name {
		.om();
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		cursor: pointer;
		
	}
	&-desc {
		margin-top: 25px;
		.rr();
		font-size: 18px;
		line-height: 132%;
		color: @gray2;
		text-align: justify;
		@media (max-height: 769px) {
			margin-top: 15px;
			font-size: 15px;
		}
	}
	&-more {
		margin-top: 55px;
		.more-info {
			display: flex;
			align-items: center;

			.om();
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @dark;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			svg {
				fill: @gray2;
				margin-right: 15px;
			}
		}
	}
}


.line {
	display: inline-block;
	width: 18px;
	height: 2px;
	margin-right: 15px;
	display: none;
}
.plus {
	display: inline-block;
	height: 18px;
	width: 18px;
	position: relative;
	margin-right: 15px;
	&-line {
		display: inline-block;
		background: #696969;
		flex-shrink: 0;
		position: absolute;
		&:nth-child(1) {
			width: 18px;
			height: 2px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&:nth-child(2) {
			width: 2px;
			height: 18px;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.visible {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}

.status-variants {
	display: none;
	padding: 15px;
	background: @back;
	margin-top: 10px;
}

.status-label {
	display: block;
	width: max-content;
	cursor: pointer;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	span {
		.rr();
		font-size: 16px;
		line-height: 120%;
		color: @gray1;
		padding: 2px 3px;
	}
}
.status-variant {
	display: none;
	&:checked + span {
		background: @dark;
		color: @light;
	}
}


.full {
	margin-top: 20px;
	max-width: 896px;
	position: relative;

	&__top {
		padding: 20px 20px 35px 20px;
		background: @light;
		&-container {
			max-width: 100%;
			position: relative;
		}
		&-slide {
			display: flex;
			align-items: center;
			justify-content: space-between;
			img {
				width: 418px;
				height: 286px;
				object-fit: cover;
			}
		}
		&-btn {
			position: absolute;
			bottom: 2px;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			background: @light;
			outline: none;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: 2px;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: 45px;
			}
		}
		&-pagination {
			.ol();
			font-size: 18px;
			line-height: 112%;
			letter-spacing: 0.1em;
			color: @main;
			width: auto;
			.swiper-pagination-total {
				color: @gray1;
			}
		}


		&-body {
			padding: 15px 20px 0 20px;
		}
		&-end {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		&-start {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 16px;
		}
		&-bread {
			.bread-link {
				display: inline-block;
				.rr();
				font-size: 12px;
				line-height: 112%;
				color: @gray4;
				margin-right: 20px;
				&:last-child {
					color: @main;
					margin-right: 0;
				}
			}
		}
		&-title {
			max-width: 630px;
			h3 {
				.rm();
				font-size: 28px;
				line-height: 112%;
				color: @dark;
			}
		}
		&-favorites {
			.favorites-link {
				display: flex;
				align-items: center;
				.rr();
				font-size: 16px;
				line-height: 112%;
				color: @link;
				margin-top: 7px;
				transition: 1s;
				&:hover {
					color: @main;
					transition: 1s;
					svg {
						transition: 1s;
						fill: #ceac6a;
						stroke: #ceac6a;
					}
				}
				svg {
					margin-left: 10px;
					fill: transparent;
					cursor: pointer;
					transition: 1s;
					width: 20px;
					height: 20px;
					flex-shrink: 0;
					stroke: #E4D0A9;
					stroke-width: 1.5;
					&.active {
						transition: 1s;
						fill: #ceac6a;
						stroke: #ceac6a;
					}
				}
			}
		}

		&-center {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 20px;
			.price-total {
				.om();
				font-size: 24px;
				line-height: 152%;
				letter-spacing: 0.05em;
				text-transform: uppercase;

				color: @link;
			}
			.cashback {
				display: flex;
				align-items: center;
				margin-left: auto;
				p {
					.om();
					font-size: 11px;
					line-height: 16px;
					letter-spacing: 0.2em;
					color: @dark;
					text-transform: uppercase;
				}
				span {
					display: inline-block;
					padding: 2px 15px;
					background: #E3D0AA;
					border-radius: 20px;
					margin-left: 11px;
					.om();
					font-size: 12px;
					line-height: 18px;
					letter-spacing: 0.2em;
					color: @light;
					text-transform: uppercase;
					transition: .5s;
					cursor: pointer;
					&:hover {
						transition: .5s;
						background: #c39e5a;
					}
				}
			}
		}
	}

	&__info {
		background: @light;
		margin-top: 10px;
		&-header {
			display: flex;
			justify-content: space-between;
			padding-right: 40px;
			border-bottom: 2px solid @back;
		}
		&-item {
			width: calc(100% / 3);
			padding: 30px 0 50px 40px;
			&:not(:last-child) {
				border-right: 2px solid @back;
			}

			&-row {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				&:not(:last-child) {
					margin-bottom: 18px;
				}
				p {
					.rr();
					font-size: 15px;
					line-height: 132%;
					color: @gray2;
					margin-right: 10px;
				}
				span {
					display: inline-block;
					.rr();
					font-size: 15px;
					line-height: 132%;
					color: @main;
				}
			}
			&-row2 {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				&:not(:last-child) {
					margin-bottom: 18px;
				}
				p {
					.rr();
					font-size: 15px;
					line-height: 132%;
					color: @gray4;
					margin-right: 5px;
				}
				span {
					display: inline-block;
					.rr();
					font-size: 15px;
					line-height: 132%;
					color: @gray2;
				}
			}
		}

		&-body {
			padding: 25px 50px 50px 35px;
		}
		// &-lists {
		// 	display: flex;
		// 	align-items: center;
		// } 
		// &-list {
		// 	padding: 14px 20px;
		// 	.rr();
		// 	font-size: 15px;
		// 	line-height: 132%;
		// 	color: @gray1;
		// 	cursor: pointer;
		// 	&.active {
		// 		color: @gray2;
		// 		background: @back;
		// 	}
		// }
		&-content {
			display: none;
			margin-top: 35px;
			&.active {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		&-column {
			max-width: calc(100% / 3);
			svg {
				flex-shrink: 0;
				margin-right: 9px;
				margin-top: -3px;
			}
		}
		&-line {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: @dark;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__description {
		background: @light;
		margin-top: 10px;
		padding: 90px 60px 55px 63px;
		position: relative;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
		&-title {
			h3 {
				.om();
				font-size: 28px;
				line-height: 112%;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: @dark;
			}
		}
		&-text {
			p {
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @gray2;
				margin-top: 30px;
			}
			.more-link {
				display: inline-block;
				margin-top: 20px;
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @link;
				transition: .5s;
				&:hover {
					transition: .5s;
					color: @main;
				}
			}
		}
	}

	&__plan {
		margin-top: 10px;
		background: @light;
		position: relative;
		padding: 0 120px 0 35px;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
		&-title {
			padding-left: 25px;
			h3 {
				.om();
				font-size: 28px;
				line-height: 112%;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: @dark;
			}
		}
		&-content {
			margin-top: 45px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding-bottom: 75px;
		}
		&-item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&.active {
				.full__plan-head {
					color: @main;
					.line {
						display: block;
						background: #E4D0A9;
					}
					.plus {
						display: none;
					}
				}
			}
		}
		&-head {
			.om();
			font-size: 16px;
			line-height: 132%;
			letter-spacing: 0.16em;
			color: @gray2;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		&-body {
			margin-top: 19px;
			display: none;
		}
		&-row {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
			span {
				.rr();
				font-size: 15px;
				line-height: 132%;
				color: @gray3;
			}
		}
		&-container {
			position: relative;
			width: 378px;
			flex-shrink: 0;
		}
		&-slide {
			width: 378px;
			height: 314px;
			img {
				display: block;
				object-fit: cover;
			}
		}
		&-right {
			position: relative;
		}
		.full-btn {
			position: absolute;
			bottom: -100px;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			background: @light;
			border: 2px solid #F7F7F7;
			outline: none;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: -90px;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: -45px;
			}
		}
	}

	&__video {
		margin-top: 10px;
		background: @light;
		position: relative;
		padding: 0 35px 0 35px;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
		&-title {
			padding-left: 25px;
			h3 {
				.om();
				font-size: 28px;
				line-height: 112%;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: @dark;
			}
		}
		&-content {
			margin-top: 43px;
			width: 100%;
			height: 424px;
			background: #737373;
			display: none;
			position: relative;
			&.active {
				display: block;
			}
			.right-play {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-top: 0;
			}
		}
		&-lists {
			margin-top: 19px;
			padding-bottom: 50px;
		}
	}

	&__tour {
		margin-top: 10px;
		background: @light;
		position: relative;
		padding: 0 35px 0 35px;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 118px;
				transition: .6s;
				visibility: visible;
			}
		}
		&-title {
			padding-left: 25px;
			h3 {
				.om();
				font-size: 28px;
				line-height: 112%;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: @dark;
			}
		}
		&-content {
			margin-top: 43px;
			width: 100%;
			height: 424px;
			background: #EFECE8;
			display: none;
			&.active {
				display: block;
			}
		}
		&-lists {
			margin-top: 19px;
			padding-bottom: 50px;
		}
	}
}

.tab-lists {
	display: flex;
	align-items: center;
} 
.tab-list-item	{
	padding: 14px 20px;
	.rr();
	font-size: 15px;
	line-height: 132%;
	color: @gray1;
	cursor: pointer;
	&.active {
		color: @gray2;
		background: @back;
	}
}

.details {
	margin-top: 10px;
	.opportunities__title {
		margin-top: 0;
	}
	.opportunities__content {
		padding: 7px 0 0 0;
	}
	.opportunities__item {
		&:not(:last-child) {
			border-bottom: 2px solid @back !important;
		}
	}
}


.documentation {
	margin-top: 20px;
	max-width: 896px;
	background: @light;
	position: relative;
	position: relative;
	.vertical-line {
		width: 3px;
		height: 0;
		background: @link;
		position: absolute;
		top: 0;
		left: 35px;
		transition: .6s;
		visibility: hidden;
		&.active {
			height: 118px;
			transition: .6s;
			visibility: visible;
		}
	}
	&-title {
		padding-left: 60px;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}
	&-body {
		margin-top: 50px;
		padding: 0 35px 70px 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid @back;
	}
	&-text {
		max-width: 350px;
		h3 {
			.om();
			font-size: 20px;
			line-height: 152%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
			color: @dark;
		}
		p {
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: #9B9B9B;
			margin-top: 25px;	
		}
		.line {
			display: inline-block;
			width: 71px;
			height: 2px;
			background: @link;
			margin-top: 10px;
		}
	}

	&-image {
		&-container {
			width: 425px;
			position: relative;
		}
		&-slide {
			img {
				display: block;
				width: 425px;
				height: 263px;
				object-fit: cover;
			}
		}
		.documentation-btn {
			position: absolute;
			bottom: 2px;
			width: 41px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 3;
			background: @light;
			outline: none;
			svg {
				fill: transparent;
				stroke: @gray3;
				stroke-width: 2px;
			}
			&:hover {
				svg {
					stroke: #4F4F4F;
				}
			}
			&:focus {
				svg {
					stroke: @dark;
				}
			}
			&-next {
				right: 2px;
				svg {
					transform: rotate(180deg);
				}
			}
			&-prev {
				right: 45px;
			}
		}
	}

	&-form {
		&-header {
			padding: 30px 40px 30px 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			border-bottom: 2px solid @back; 
			h3 {
				.om();
				font-size: 24px;
				line-height: 112%;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #4F4F4F;
			}

			&.active {
				.show-minus {
					display: block;
				}
				.show-plus {
					display: none;
				}
			}

			.show-block {
				display: flex;
				align-items: center;
				height: 37px;
				width: 37px;
			}
			.show-minus {
				width: 37px;
				height: 2px;
				background: #C1BDCA;
				cursor: pointer;
				flex-shrink: 0;
				display: none;
			}
			.show-plus {
				height: 37px;
				width: 37px;
				cursor: pointer;
				flex-shrink: 0;
				position: relative;
				&-item {
					display: inline-block;
					background: #C1BDCA;
					flex-shrink: 0;
					position: absolute;
					&:nth-child(1) {
						width: 37px;
						height: 2px;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
					}
					&:nth-child(2) {
						width: 2px;
						height: 37px;
						left: 50%;
						top: 0;
						transform: translateX(-50%);
					}
				}
			}
		}
		&-content {
			display: none;
			padding: 50px;
			border-bottom: 2px solid @back;
		}
	}
}

.place {
	margin-top: 10px;
	max-width: 896px;
	background: @light;
	position: relative;
	padding: 0 35px 0 35px;
	.vertical-line {
		width: 3px;
		height: 0;
		background: @link;
		position: absolute;
		top: 0;
		left: 35px;
		transition: .6s;
		visibility: hidden;
		&.active {
			height: 118px;
			transition: .6s;
			visibility: visible;
		}
	}
	&-title {
		padding-left: 25px;
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}
}


.map {
	margin-top: 40px;
	&-buttons {
		margin-top: 20px;
		padding-bottom: 50px;
	}
	&-template {
		width: 150px;
		background: @light;
		border-radius: 1px;
		text-align: center;
	}
	&-address {
		.om();
		font-size: 14px;
		line-height: 132%;
		letter-spacing: 0.1em;
		color: @main;
		text-transform: uppercase;
	}
	&-info {
		margin-top: 4px;
		.rr();
		font-size: 10px;
		line-height: 132%;
		color: @gray1;
	}
	&-phone {
		.rr();
		font-size: 10px;
		line-height: 132%;
		color: @gray1;
	}
}
#map {
	width: 100%;
	height: 400px;
}




.open-section {
	position: absolute;
	top: 55px;
	right: 40px;
	display: flex;
	align-items: center;
	height: 37px;
	width: 37px;
	cursor: pointer;
}
.opened {
	display: inline-block;
	width: 37px;
	height: 2px;
	background: #696969;
	cursor: pointer;
	flex-shrink: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.closed {
	display: inline-block;
	height: 37px;
	width: 37px;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-50%);
	cursor: pointer;
	flex-shrink: 0;
	&-line {
		display: inline-block;
		background: #696969;
		flex-shrink: 0;
		position: absolute;
		&:nth-child(1) {
			width: 37px;
			height: 2px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&:nth-child(2) {
			width: 2px;
			height: 37px;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
	}
}

.section-click {
	height: auto;
	padding-top: 90px;
	padding-bottom: 20px;
	cursor: pointer;
	.closed {
		opacity: 0;
		transition: opacity .5s;
	}
}


.section-closed {
	.opened {
		opacity: 0;
		transition: opacity .5s;
	}
	.closed {
		opacity: 1;
		transition: opacity .5s;
	}
}

.card-hot {
	margin-top: 20px;
}

.card__navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	&:not(:last-child) {
		margin-bottom: 25px;
	}
	&.active {
		border: 1px solid #D1A96B;
		border-radius: 50%;
		span {
			background: @main;
		}
	}
	span {
		display: inline-block;
		width: 7px;
		height: 7px;
		background: #E4D0A9;
		border-radius: 50%;
	}
}



.step {
	max-width: 896px;
	&__header {
		padding: 90px 0 43px 63px;
		position: relative;
		background: @light;
		border-bottom: 2px solid @back;
		.vertical-line {
			width: 3px;
			height: 0;
			background: @link;
			position: absolute;
			top: 0;
			left: 35px;
			transition: .6s;
			visibility: hidden;
			&.active {
				height: 116px;
				transition: .6s;
				visibility: visible;
			}
		}
	}
	&__title {
		h3 {
			.om();
			font-size: 28px;
			line-height: 112%;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: @dark;
		}
	}
	&__body {
		padding: 30px 35px 35px 35px;
		background: @light;
		border-bottom: 2px solid @back;
		&-title {
			.om();
			font-size: 14px;
			line-height: 148%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @dark;
		}
		&-row {
			margin-top: 17px;
			display: flex;
			align-items: center;
		}
		&-wrap {
			margin-top: 30px;
			display: flex;
			align-items: center;
		}
	}
	&__bottom {
		padding: 35px;
		background: @light;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&-pag {
		.om();
		font-size: 12px;
		line-height: 148%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @dark;
		margin-right: 35px;
	}
	&-page {
		.om();
		font-size: 16px;
		line-height: 148%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @dark;
	}
	&-value {
		.om();
		font-size: 12px;
		line-height: 148%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #C4C4C4;
	}
	&-btn {
		padding: 20px 50px;
		background: @link;
		.om();
		font-size: 16px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: @light;
		svg {
			fill: @light;
			width: 25px;
			height: 15px;
			margin-left: 10px;
		}
		&.disabled {
			opacity: .5;
		}
	}

	&-label {
		display: flex;
		align-items: center;
		margin-right: 30px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;

		cursor: pointer;
	}
	&-input {
		display: none;
		&:checked + .step-circle {
			.step-inner {
				opacity: 1;
				transform: scale(1);
				transition: .5s;
			}
		}
	}
	&-circle {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 14px;
		height: 14px;
		border: 1px solid #E4D0A9;
		border-radius: 50%;
		margin-right: 10px;
	}
	&-inner {
		display: inline-block;
		opacity: 0;
		transform: scale(0);
		transition: .5s;
		width: 8px;
		height: 8px;
		background: #E4D0A9;
		border-radius: 50%;
	}

	&-select {
		margin: 0 40px;
		width: 268px;
		height: 60px;
		position: relative;
		.select2-container {
			width: 100% !important;
			height: 100%;
		}
		.select2-container--default .select2-selection--single {
			height: 100% !important;
			background: @back !important;
			border: none !important;
			outline: none;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 62px;
			.om();
			font-size: 11px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @gray1;
			padding-left: 25px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			top: 50% !important;
			transform: translateY(-50%);
			right: 10px !important
		}
		.tr-span {
			position: absolute;
			top: 50%;
			left: 25px;
			transform: translateY(-50%);
			z-index: 2;
			transition: .5s;
			pointer-events: none;
			font-size: 11px;
			.om();
			line-height: 112%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @gray1;
			&.active {
				font-size: 8px;
				transform: translateY(-200%);
				transition: .5s;
				color: @main;
				.state-star {
					font-size: 8px;
					transition: .5s;
				}
			}
		}
		.state-star {
			color: @main;
			.om();
			font-size: 16px;
			line-height: 112%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			transition: .5s;
		}
	}
}

.alert {
	padding: 35px;
	background: @light;
	margin-top: 20px;
	border-bottom: 2px solid @back;
	&__title {
		.om();
		font-size: 14px;
		line-height: 148%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @dark;
	}
	&__list {
		list-style-type: decimal;
		list-style-position: inside;
		&-item {
			margin-top: 25px;
			font-size: 15px;
			line-height: 30px;
			color: @gray2;
			.rr();
			a {
				display: inline-block;
				.rr();
				font-size: 15px;
				line-height: 112%;
				color: @link;
				margin-left: 5px;
				transition: .5s;
				&:hover {
					color: @main;
					transition: .5s;
				}
			}
		}
	}
}

.terms {
	margin-top: 20px;
	padding: 35px;
	background: @light;
	max-width: 896px;
	border-bottom: 2px solid @back;
	&-text {
		.rr();
		font-size: 15px;
		line-height: 132%;
		color: @gray1;
	}
	.number-lists {
		list-style-type: decimal;
		list-style-position: inside;
		&-item {
			.rr();
			font-size: 15px;
			line-height: 132%;
			color: @gray1;
			margin-top: 35px;
		}
		&-text {
			margin-top: 20px;
		}
	}
	&-submit {
		padding: 23px 45px;
		background: @light;
		max-width: 896px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-row {
			display: flex;
			align-items: center;
		}
	}
}

.terms-submit-label {
	.rr();
	font-size: 15px;
	line-height: 132%;
	color: @gray1;
	display: flex;
	align-items: flex-start;
	padding: 3px 10px;
	cursor: pointer;
	.custom {
		width: 15px;
		height: 15px;
		border: 2px solid #B7B7B7;
		margin-right: 14px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			background: @main;
			opacity: 0;
			transition: .3s;
		}
	}
	a {
		display: inline-block;
		.rr();
		font-size: 15px;
		line-height: 132%;
		color: @link;
	}
	.terms-submit-input {
		display: none;
		&:checked + .custom {
			border: 2px solid #565656;
			&::before {
				opacity: 1;
				transition: .3s;
			}
		}
	}
}


.step__add-header {
	max-width: 896px;
	padding:  22px 0 22px 35px;
	background: @light;
	margin-top: 20px;
	border-bottom: 2px solid #f7f7f7;
}
.step__add-form {
	max-width: 896px;
}
.step__add-item {
	background: @light;
	padding: 35px;
	border-bottom: 2px solid @back;
}
.mt-2 {
	margin-top: 20px;
}
.step__add-block {
	margin-top: 17px;
}
.step__add-flex {
	display: flex;
	align-items: center;
}

.step__add-select {
	width: 90px;
	flex-shrink: 0;
	.select2-container {
		width: 100% !important;
		margin-left: 4px;
	}
	.select2-container .select2-selection--single {
		height: 100% !important;
		border: none;
		background: @back;
		padding-left: 10px;
		padding-right: 5px;
		outline: none;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 60px !important;
		.om();
		font-size: 16px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: @gray2;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 50% !important;
		transform: translateY(-50%);
		right: 10px;
	}
}

.step__add-mini {
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 60px !important;
		.om();
		font-size: 13px;
		letter-spacing: 0.2em;
		text-transform: lowercase;
		color: @gray2;
	}
}

.step__add-field {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	.schedule {
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		width: 34px;
		height: 34px;
		background: #E4D0A9;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		cursor: pointer;
		svg {
			width: 20px;
			height: 20px;
			fill: @light;
			flex-shrink: 0;
		}
	}
	.input-field {
		width: 100%;
		height: 60px;
		border: none;
		background: @back;
		outline: none;
		padding: 0 25px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;
		&:focus + .input-title {
			font-size: 9px;
			color: @main;
			transform: translateY(-200%);
			transition: .5s;
			.star {
				font-size: 9px;
				transition: .5s;
			}
		}
		&:focus ~ .input-value {
			font-size: 9px;
			transform: translateY(-200%);
			transition: .5s;
		}
		&:valid + .input-title {
			font-size: 9px;
			color: @main;
			transform: translateY(-200%);
			transition: .5s;
			.star {
				font-size: 9px;
				transition: .5s;
			}
		}
		&:valid ~ .input-value {
			font-size: 9px;
			transform: translateY(-200%);
			transition: .5s;
		}
	}	
	.input-title {
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
		display: inline-block;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2;
		text-transform: uppercase;
		color: @gray1;
		transition: .5s;
		pointer-events: none;
		.star {
			.om();
			font-size: 16px;
			line-height: 112%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: @main;
			transition: .5s;
		}
	}
	.input-value {
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray3;
		transition: .5s;
		pointer-events: none;
	}
	.textarea-field {
		width: 100%;
		height: 150px;
		border: none;
		background: #F7F7F7;
		outline: none;
		padding: 24px 25px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;
		resize: none;
		&:focus + .textarea-title {
			font-size: 9px;
			color: @main;
			transform: translateY(-150%);
			transition: .5s;
		}
		&:focus ~ .textarea-value {
			font-size: 9px;
			transform: translateY(-150%);
			transition: .5s;
		}
		&:valid + .textarea-title {
			font-size: 9px;
			color: @main;
			transform: translateY(-150%);
			transition: .5s;
		}
		&:valid ~ .textarea-value {
			font-size: 9px;
			transform: translateY(-150%);
			transition: .5s;
		}
	}
	.textarea-title {
		position: absolute;
		top: 24px;
		left: 25px;
		display: inline-block;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2;
		text-transform: uppercase;
		color: @gray1;
		transition: .5s;
		pointer-events: none;

	}
	.textarea-value {
		position: absolute;
		top: 24px;
		right: 25px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray3;
		transition: .5s;
		pointer-events: none;
	}
}

.step__add-row {
	display: flex;
	align-items: center;
	// justify-content: space-between;
	& > * {
		max-width: 268px;
		width: 100%;
		overflow: hidden;
		flex-shrink: 0;
	}

	.step__add-params {
		margin-left: 25px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;
	}

	.step-select {
		margin: 0 0 10px 0;
	}

	.mini-select {
		max-width: 130px;
	}
}

.step__add-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.step__add-fields {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.step__add-field {
		max-width: 268px;
		width: 100%;
		&:not(:nth-child(3n)) {
			margin-right: 10px;
		}
	}
	.step-select {
		margin: 0 12px 0 0;
	}
}

.step__add-house {
	width: 90px;
	flex-shrink: 0;
}

.mr-12 {
	margin-right: 12px !important;
}
.mr-4 {
	margin-right: 4px !important;
}
.mr-11 {
	margin-right: 11px !important;
}
.mb-10 {
	margin-bottom: 10px !important; 
}
.mt-0 {
	margin-top: 0px !important;
}

.mr-3n {
	margin-right: 0 !important;
	&:not(:nth-child(3n)) {
		margin-right: 11px !important;
	}
}

.show-radius {
	.text {
		.rr();
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.03em;
		color: @gray4;
	}
}

.inputs-row {
	display: flex;
	align-items: center;
	& > * {
		margin: 0;
	}
}
.add__field {
	max-width: 268px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border: 2px dashed #E3E3E3;
	cursor: pointer;
	.om();
	font-size: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray3;
	padding-left: 25px;
	margin-bottom: 10px;
}

.added--form {
	position: fixed;
	background: @light;
	padding: 20px 25px;
	bottom: 500px;
	right: 20px;
	z-index: 12;
	transform: translateX(500%);
	transition: 1s;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
	&.active {
		transform: translateX(0);
		transition: 1s;
	}
	span {
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;
	}
}
.added--input {
	width: 100%;
	height: 40px;
	border: none;
	background: #F7F7F7;
	outline: none;
	padding: 0 25px;
	.om();
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray1;
	margin-top: 10px;
}

.added--btn {
	background: #E3D0AA;
	color: @light;
	width: 50%;
	.om();
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding: 15px;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
}

.acc__content-header {
	display: flex;
	align-items: center;
	padding: 17px 30px;
	border-bottom: 2px solid #F7F7F7;
}

.acc__content-photo {
	width: 43px;
	height: 43px;
	background: #AAC9E2;
	border-radius: 50%;
	flex-shrink: 0;
	margin-right: 17px;
}

.acc__content-name {
	span {
		display: inline-block;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @dark;
	}
	a {
		display: inline-block;
		margin-top: 7px;
		.om();
		font-size: 11px;
		line-height: 112%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray4;
	}
}

.acc__content-id {
	.om();
	margin-left: auto;
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @dark;
	min-width: 70px;
}

.acc__content-body {
	padding: 15px 0;
}

.acc-link {
	display: flex;
	align-items: center;
	padding: 15px 30px;
	.rr();
	font-size: 16px;
	line-height: 120%;
	color: @gray1;
	transition: .5s;
	svg {
		transition: .5s;
		width: 18px;
		fill: #D0D0D0;
		margin-right: 24px;
		flex-shrink: 0;
	}

	&.active {
		color: @dark;
		svg {
			fill: @dark;
		}
	}

	&:hover {
		color: @dark;
		transition: .5s;
		svg {
			transition: .5s;
			fill: @dark;
		}
	}

	&-value {
		display: inline-block;
		.rr();
		font-size: 16px;
		line-height: 120%;
		color: @link;
		margin-left: 20px;
	}
}

.advert {
	max-width: 896px;
	width: 100%;
	background: @light;
	padding: 13px 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__row {
		display: flex;
		align-items: center;
	}
	.advert--link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		background: transparent;
		margin-right: 14px;
		transition: .5s;
		position: relative;
		svg {
			fill: #C0C0C0;
			flex-shrink: 0;
		}

		.helper {
			visibility: hidden;
			opacity: 0;
			width: 280px;
			display: inline-block;
			position: absolute;
			background: @light;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
			border-radius: 2px;
			padding: 22px;
			left: 0;
			top: calc(100% + 10px);
			transition: .5s;

			.rr();
			font-size: 13px;
			line-height: 120%;
			color: @gray1;
		}

		&:hover {
			transition: .5s;
			background: @back;
			.helper {
				visibility: visible;
				opacity: 1;
				transition: .5s;
			}
		}
	}
	.adv--save {
		display: inline-flex;
		align-items: center;
		padding: 15px 22px;
		background: #D0D0D0;

		.om();
		font-size: 13px;
		line-height: 140%;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @light;

		svg {
			margin-right: 15px;
			fill: @light;
			flex-shrink: 0;
			transition: .5s;
			animation: transform 1s linear infinite;
		}
	}
}

@keyframes transform {
	from {
		transform: rotate(0);
		transition: .5s;
	}
	to {
		transform: rotate(360deg);
		transition: .5s;
	}
}

.step__add-territory {
	display: flex;
	align-items: flex-start;
}
.territory-column {
	display: flex;
	flex-direction: column;
	&:not(:last-child) {
		margin-right: 100px;
	}
}
.territory-label {
	cursor: pointer;
	margin-bottom: 18px;
	.custom {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border: 2px solid #A5A5A5;
		flex-shrink: 0;
		line-height: 16px;
		text-align: center;
		svg {
			opacity: 0;
			fill: @light;
			transition: .5s;
			flex-shrink: 0;
		}
	}
}

.territory-input {
	display: none;
	&:checked + .custom {
		border: 2px solid transparent;
		background: #CDB75E;
		svg {
			opacity: 1;
			transition: .5s;
		}
	}
}

.territory-text {
	display: inline-block;
	.rr();
	font-size: 16px;
	line-height: 19px;
	color: @gray1;
	margin-left: 13px;
}


.step__add-files {
	background: @back;
	padding: 10px 10px 20px 10px;
	margin-top: 20px;
	label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 130px;
		background: @back;
		border: 2px dashed #F0F0F0;
		cursor: pointer;
		.om();
		font-size: 11px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray3;
		svg {
			fill: @gray3;
			width: 20px;
			height: 20px;
			margin-right: 15px;
		}
		#files {
			display: none;
		}
	}

	.files__params {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
		& > div {
			.rr();
			font-size: 12px;
			line-height: 14px;
			color: @gray4;
			margin: 0 20px;
		}
	}
}

.step__add-loader {
	display: none;
	.step__add-wrap {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.step__add-uploads {
	max-width: 727px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.swiper-wrapper {
		width: 100%;
	}
}

.upload-slide {
	width: 117px !important;
	height: 77px;
	flex-shrink: 0;
	margin-right: 5px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.upload-btn {
	padding: 24px 0;
	width: 40px;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;
	outline: none;
	svg {
		fill: transparent;
		stroke: #CCCCCC;
		stroke-width: 2px;
	}
	&-next {
		svg {
			transform: rotate(180deg);
		}
	}
}

.step-file-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 268px;
	height: 60px;
	background: @back;
	cursor: pointer;
	.om();
	font-size: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray3;
	svg {
		fill: @gray3;
		width: 20px;
		height: 20px;
		margin-right: 15px;
	}
}

.step-file-input {
	display: none;
}

.step-uploaded-img {
	width: 90px;
	height: 60px;
	margin-left: 10px;
	margin-bottom: 10px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.step-uploaded-photo {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #AAC9E2;
	text-align: center;
	line-height: 43px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.first-symbol {
		.ol();
		font-size: 30px;
		text-transform: uppercase;

		color: @light;
	}
}

.last-step {
	max-width: 300px;
	.rr();
	font-size: 14px;
	line-height: 16px;
	color: @gray4;
}

.social-radios {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	.circle {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		flex-shrink: 0;
		border: 1px solid #E4D0A9;
		&-inner {
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			flex-shrink: 0;
			background: #E4D0A9;
			opacity: 0;
			transform: scale(0);
			transition: .5s;
		}
	}
}
.social-text {
	display: inline-block;
	margin-left: 10px;
	.om();
	font-size: 11px;
	line-height: 112%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: @gray1;
}
.social-radio {
	display: none;
	&:checked + .circle {
		.circle-inner {
			opacity: 1;
			transform: scale(1);
			transition: .5s;
		}
	}
}

.big-label {
	display: block;
	width: 268px;
	flex-shrink: 0;
	background: @back;
	padding: 25px;
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 10px;
	}
	.custom {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border: 2px solid #A5A5A5;
		flex-shrink: 0;
		line-height: 16px;
		text-align: center;
		svg {
			opacity: 0;
			fill: @light;
			transition: .5s;
			flex-shrink: 0;
		}
	}

	&-head {
		display: flex;
		align-items: flex-start;
	}
	&-text {
		margin-left: 10px;
		.om();
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray1;
	}
	&-desc {
		margin-top: 25px;
		.rr();
		font-size: 14px;
		line-height: 132%;
		color: #9B9B9B;
	}
}

.big-radio {
	display: none;
	&:checked + .big-label-head {
		.custom {
			border: 2px solid transparent;
			background: #CDB75E;
			svg {
				opacity: 1;
				transition: .5s;
			}
		}
	}
}

.step__add-select-145 {
	width: 145px;
	flex-shrink: 0;
	.select2-container {
		width: 100% !important;
		margin-left: 4px;
	}
	.select2-container .select2-selection--single {
		height: 100% !important;
		border: none;
		background: @back;
		padding-left: 10px;
		padding-right: 5px;
		outline: none;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 60px !important;
		.om();
		font-size: 11px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray2;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 50% !important;
		transform: translateY(-50%);
		right: 10px;
	}
}

.step__add-select-100 {
	width: 100px;
	flex-shrink: 0;
	.select2-container {
		width: 100% !important;
		margin-left: 4px;
	}
	.select2-container .select2-selection--single {
		height: 100% !important;
		border: none;
		background: @back;
		padding-left: 10px;
		padding-right: 5px;
		outline: none;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 60px !important;
		.om();
		font-size: 11px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: @gray2;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 50% !important;
		transform: translateY(-50%);
		right: 10px;
	}
}

.step__add-wrap {
	display: flex;
	align-items: center;
	.step__add-field {
		max-width: 145px;
	}
}

.custom-slct {
	.select2-dropdown {
		background: @light;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
		border-radius: 1px;
	}
	.select2-results__options {
		max-height: 294px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 5px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			width: 5px;
			background: #E3D0AA;
			border-radius: 3px;
		}	
	}
	.select2-results__option {
		.rr();
		font-size: 15px;
		line-height: 120%;
		color: @gray2;
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: @back;
		color: @gray2;
	}
	.select2-results__option[aria-selected=true] {
		background-color: @back;
		color: @gray2;
	}
}