<div class="main__right">
	<div class="right-close">
		&times;
	</div>
	<div class="right-play">
		{{Icon iconName="play"}}
	</div>
	<p class="right-text">
		Экскурсия по сайту за 2 минуты
	</p>
</div>