<div class="main__left">
	<div class="main__left-menu">
		<span class="menu"></span>
		<span class="menu"></span>
		<span class="menu menu-sm"></span>
	</div>

	<div class="main__left-social">
		<a href="#" class="social-link">
			{{Icon iconName="facebook"}}
		</a>
		<a href="#" class="social-link">
			{{Icon iconName="instagram"}}
		</a>
		<a href="#" class="social-link">
			{{Icon iconName="youtube"}}
		</a>

		<div class="lang" id="lang">
			<div class="lang-value">RU</div>
			{{Icon iconName="d-arr"}}

			<div class="lang-variants"> <!-- .active для показа -->
				<a href="#" class="lang-variant">EN</a>
				<a href="#" class="lang-variant">KZ</a>
			</div>
		</div>
	</div>
</div>